<% content_for :body do %>
	<h4>Create new channel with current filter settings</h4>
	<input class="new-channel-name" type="text" placeholder="channel name" />
	<button class="new-channel-create">Create</button>
<% end %>