<% unless @errors %>
$('.password_flash').html("<div class='alert alert-success alert-dismissable'>" +
  " <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>" +
" Passowrd successfully Changed </div>");
<% else %>
$('.password_flash').html("<div class='alert alert-danger alert-dismissable'>" +
  " <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>" +
  " <%= @errors_msg.html_safe %></div>");
<% end %>