<div marginwidth="0" marginheight="0" style="background-color:#cecfce;font-family: arial,sans-serif;"><div class="adM">

    </div><table width="100%" cellspacing="0" bgcolor="#CECFCE" style="background-color:#cecfce">

        <tbody><tr>

            <td valign="top" align="center">

                <table cellspacing="0" cellpadding="0" width="650" bgcolor="white" style="border:0px none #000000;margin-top:20px;margin-bottom:20px;background-color:#ffffff">

                    <tbody><tr>

                        <td>

                            <table width="650" cellpadding="0" cellspacing="0">

                                <tbody><tr>

                                    <td style="padding:10px 25px 10px 25px">

                                        <table>

                                            <tbody><tr>

                                                <td height="50">

                                                    <a href="http://www.halfpastnow.com" target="_blank"><img style="float:left" width="250" height="44" alt="halfpastnow and uber" src="http://www.halfpastnow.com/assets/halfpastnow_new_logo_300.png"></a> + <a href="http://www.halfpastnow.com" target="_blank"><img style="float:left" width="250" height="44" alt="halfpastnow and uber" src="http://www.halfpastnow.com/assets/uber.png"></a>

                                                </td>
                                                <td height="50" width="125"></td>
                                                

                                            </tr>

                                        </tbody></table>

                                        <hr style="clear:both;margin-bottom:-8px;">
<div class="test" style="margin-top:-10px;margin-bottom:-14px;display: inline-block;">
    <table >
        
        <tbody>
            <tr>
                <td width="600px">
        <div class="header-content"><webversion><a href="http://www.halfpastnow.com" style="text-decoration:none;color:#4f2740" target="_blank">half past now.</a></webversion><span class="hide">&nbsp;&nbsp;|&nbsp; <unsubscribe><a href="mailto:?subject=Check out halfpastnow.'s event newsletter&body=Signup for half past now. newsletter at http%3A%2F%2Fwww.halfpastnow.com. It's an awesome way to find events in Austin based on on your profile and the categories of events that interest you!">Tell a friend</a></unsubscribe></span></div>
                </td>
                <td height="50" width="125"></td>
                </tr>
                
                
        </tbody>
    </table>
</div>

<div style="font-size: 14px;line-height: 30px;">Hi<%=(@user.nil?) ? "," : " " +@user.firstname+"," %></div>
<div style="font-size:14px;line-height:20px;">Party with Halfpastnow, Ride with Uber.</div>  
<br>
<div style="font-size:14px;line-height:20px;">Not only can you find the best SXSW events via halfpastnow, you can get a free ride too with Uber! Enter promo code <a href="http://www.uber.com/go/hpnatx">HPNATX</a> to get $30 off your first ride. (for new users only)</div>  
<br><br>

    <table style="padding:10px 0 10px 0;margin-top:-20px;" valign="middle" align="center">
        <tbody><tr><td colspan="2" valign="middle" align="center">
            <div style="display: block; margin-left: auto; margin-right: auto;"><a href="http://www.uber.com/"><img alt="uber and halfpastnow" src="http://www.halfpastnow.com/assets/uber_flyer.png"></a></div>
        </td></tr></tbody>
    </table>

<br>

<table>    
        <tbody><tr><td style="padding: 5px 0 15px 4px;
            font-size: 16px;
            color: #595959;
            font-weight: bold;" align="center">
                        If you haven't downloaded our app yet, check it out to find events around you while you're out!     
            </td>
        </tr><tr>
            <td align="center">
                
            <a href="https://itunes.apple.com/us/app/halfpastnow/id589530107" target="_blank">
                <img alt="Download our iOS app" src="http://www.halfpastnow.com/assets/apple_app_store.png" >
            </a>
            <a href="https://play.google.com/store/apps/details?id=com.halfpastnow" target="_blank">
                <img alt="Download our Android app" src="http://developer.android.com/images/brand/en_generic_rgb_wo_45.png" >
            </a>
                
        </td>
    </tr></tbody>
</table>
<br><br>


    <table style="padding:10px 0 10px 0;margin-top:-20px;" valign="middle" align="center">
        <tbody><tr><td colspan="2" valign="middle" align="center">
            <div>
                <a href="https://twitter.com/halfpastnow" target="_blank">Follow on Twitter</a> | <a href="https://www.facebook.com/halfpastnow" target="_blank">Friend on Facebook
                </a>
            </div>
        </td></tr></tbody>
    </table>
        
    



    <p style="font-size:11px;color:#777777">

        You're receiving this email because you are a member of <a style="color:#4f2740;text-decoration:none" href="http://wwww.halfpastnow.com" target="_blank">half past now.</a> Don't want to receive our weekly newsletter? <a style="color:#4f2740;text-decoration:none" href="http://www.halfpastnow.com/info/unsubscribe?email=<%=@email%>" target="_blank">Unsubscribe</a>.  halfpastnow is a Chimera Labs production. 

    </p>

    <div></div><img width="1" height="1" border="0">



                                    </td>

                                </tr>

                            </tbody></table>

                        </td>

                    </tr>

                </tbody></table>

            </td>

        </tr>

    </tbody></table>


<img alt="" width="1" height="1" border="0" style="min-height:1px!important;width:1px!important;border-width:0!important;margin-top:0!important;margin-bottom:0!important;margin-right:0!important;margin-left:0!important;padding-top:0!important;padding-bottom:0!important;padding-right:0!important;padding-left:0!important"><div class="yj6qo"></div><div class="adL">
</div></div>