<div class="content tab" id="tab-1">
<div class="row">
<!-- Big things: column left -->
<div class="large-6 columns leftCol ptm stretch">

  <div class="big-event-container clearfix">
    <div class="event-image">
      <img src="content/a.jpg">
    </div>
    <div class="text antialiased">
      <a class="event-title" href="detail.html">This is a big event</a>
      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
    </div>
  </div>


  <div class="big-event-container clearfix">
    <div class="event-image">
      <img src="content/a.jpg">
    </div>
    <div class="text antialiased">
      <a class="event-title" href="detail.html">This is a big event</a>
      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
    </div>
  </div>


  <div class="big-event-container clearfix">
    <div class="event-image">
      <img src="content/b.jpg">
    </div>
    <div class="text antialiased">
      <a class="event-title" href="detail.html">This is a big event</a>
      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
    </div>
  </div>


  <div class="big-event-container clearfix">
    <div class="event-image">
      <img src="content/a.jpg">
    </div>
    <div class="text antialiased">
      <a class="event-title" href="detail.html">This is a big event</a>
      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
    </div>
  </div>


  <div class="big-event-container clearfix">
    <div class="event-image">
      <img src="content/b.jpg">
    </div>
    <div class="text antialiased">
      <a class="event-title" href="detail.html">This is a big event</a>
      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
    </div>
  </div>
</div>

<!-- Small things: column right -->
<div class="large-6 columns rightCol ptm stretch">
<ul class="small-block-grid-2">

  <li class="mix freedrink">

    <div class="small-event-container">
      <div class="event-image">
        <img src="content/b.jpg">
      </div>
      <div class="text antialiased">
        <a class="event-title" href="detail.html">This is an small event</a>
        <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
      </div>
    </div>

  </li>

  <li class="mix freefood">

    <div class="small-event-container">
      <div class="event-image">
        <img src="content/b.jpg">
      </div>
      <div class="text antialiased">
        <a class="event-title" href="detail.html">This is an small event</a>
        <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
      </div>
    </div>

  </li>

  <li class="mix party">

    <div class="small-event-container">
      <div class="event-image">
        <img src="content/b.jpg">
      </div>
      <div class="text antialiased">
        <a class="event-title" href="detail.html">This is an small event</a>
        <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
      </div>
    </div>

  </li>

  <li class="mix nocover">

    <div class="small-event-container">
      <div class="event-image">
        <img src="content/b.jpg">
      </div>
      <div class="text antialiased">
        <a class="event-title" href="detail.html">This is an small event</a>
        <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
      </div>
    </div>

  </li>

  <li class="mix rsvp">

    <div class="small-event-container">
      <div class="event-image">
        <img src="content/b.jpg">
      </div>
      <div class="text antialiased">
        <a class="event-title" href="detail.html">This is an small event</a>
        <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
      </div>
    </div>

  </li>

  <li class="mix freedrink">

    <div class="small-event-container">
      <div class="event-image">
        <img src="content/b.jpg">
      </div>
      <div class="text antialiased">
        <a class="event-title" href="detail.html">This is an small event</a>
        <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
      </div>
    </div>

  </li>

  <li class="mix freefood">

    <div class="small-event-container">
      <div class="event-image">
        <img src="content/b.jpg">
      </div>
      <div class="text antialiased">
        <a class="event-title" href="detail.html">This is an small event</a>
        <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
      </div>
    </div>

  </li>

  <li class="mix party">

    <div class="small-event-container">
      <div class="event-image">
        <img src="content/b.jpg">
      </div>
      <div class="text antialiased">
        <a class="event-title" href="detail.html">This is an small event</a>
        <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
      </div>
    </div>

  </li>

  <li class="mix nocover">

    <div class="small-event-container">
      <div class="event-image">
        <img src="content/b.jpg">
      </div>
      <div class="text antialiased">
        <a class="event-title" href="detail.html">This is an small event</a>
        <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
      </div>
    </div>

  </li>

  <li class="mix nocover">

    <div class="small-event-container">
      <div class="event-image">
        <img src="content/b.jpg">
      </div>
      <div class="text antialiased">
        <a class="event-title" href="detail.html">This is an small event</a>
        <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
      </div>
    </div>

  </li>

  <li class="mix party">

    <div class="small-event-container">
      <div class="event-image">
        <img src="content/b.jpg">
      </div>
      <div class="text antialiased">
        <a class="event-title" href="detail.html">This is an small event</a>
        <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
      </div>
    </div>

  </li>

  <li class="mix rsvp">

    <div class="small-event-container">
      <div class="event-image">
        <img src="content/b.jpg">
      </div>
      <div class="text antialiased">
        <a class="event-title" href="detail.html">This is an small event</a>
        <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
      </div>
    </div>

  </li>

  <li class="mix party">

    <div class="small-event-container">
      <div class="event-image">
        <img src="content/b.jpg">
      </div>
      <div class="text antialiased">
        <a class="event-title" href="detail.html">This is an small event</a>
        <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
      </div>
    </div>

  </li>

  <li class="mix freefood">

    <div class="small-event-container">
      <div class="event-image">
        <img src="content/b.jpg">
      </div>
      <div class="text antialiased">
        <a class="event-title" href="detail.html">This is an small event</a>
        <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
      </div>
    </div>

  </li>

</ul>

</div>
</div>
</div>