<!DOCTYPE html>
<html lang="en-US">

  <body>
    <div class="container">
      <div class="top-container">
        <div class="top row">
          <div class="small-6 large-3 columns">
            <div class="logo-container"><div class="logo"><img src="images/layout/logo-glow.png"> </div></div>
          </div>
          <div class="small-6 large-9 columns">
            <div class="tagline">
              The best unofficial ACL events and venues around Austin!
            </div>
          </div>
        </div>
        <div class="austin"></div>
      </div>
      
      <div id="sticker">
        <div class="pink-banner">
          <div class="wrapper row">
            <div class="large-9 columns">
              <a class="callout" tabindex="1" href="http://halfpastnow.com">
                <img src="images/layout/hpn-marker.png">
                <p>See Even More <span class="rotate">Awesome, Incredible, Exciting, Fun, Touching, Healthy, Fancy, Funny, Fantastic, Great</span> Events at HalfPastNow.com!</p>
              </a>
              <div class="comments">
                <div class="ear left"></div>
                <i class="icon-chevron-right"></i> Go On!
              </div>
            </div>
            <div class="large-3 columns ptx">
              <div class="text-rounded dark">
                <input tabindex="2" type="text" value="Search">
                <input class="search-button" tabindex="6" type="submit" value="">
              </div>
            </div>
          </div>
        </div>
        <div class="toolbar">
          <div class="wrapper row">
            <div class="large-3 small-4 columns">
                <div class="ptx prm left"><h3>Map is: </h3></div>
                  <div class="commutator on" id="map-onoff">
                    <div class="is on">
                      On
                      <div class="is off">
                         Off
                      </div>
                    </div>
                  </div>
              </div>
              <div class="large-3 small-4 large-offset-3 columns by-right">
                <h3 class="ptx">You are seeing: </h3>
              </div>
              <div class="large-3 small-4 columns">
                <select class="select js-select">
                  <option></option>
                  <option value="Aaliyah">Happy Hours</option>
                  <option value="Barbara">Live music</option>
                  <option value="Azura">For kids</option>
                  <option value="Babs">Babs</option>
                  <option value="Fox">Fox</option>
                </select>
              </div>
            </div>
          </div>
        
          <div class="row" id="map">
            <div id="googleMap"></div>
          </div>
          <div class="wrapper row header">
            <div class="large-8 columns">
              <nav>
                <a id="menu-icon"><i class="icon-reorder"></i></a>
                <ul id="tab-anchors" class="header-navigation">
                  <li id="tab-anchor-1" class="current">
                    <a href="javascript:ShowTab(1);">Official ACL</a>
                  </li>
                  <li id="tab-anchor-2">
                    <a href="javascript:ShowTab(2);">Official Night Late Shows</a>
                  </li>
                  <li id="tab-anchor-3">
                    <a href="javascript:ShowTab(3);">Unofficial ACL</a>
                  </li>
                  <li id="tab-anchor-4">
                    <a href="javascript:ShowTab(4);">Local Recommendations</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="large-4 columns">
              <div class="small-navbar-note">Show me events with:</div>
              <div id="small-navbar">
                <ul>
                  <li class="filter" data-filter="freedrink"><a href="#">Free drinks</a></li>
                  <li class="filter" data-filter="freefood"><a href="#">free food</a></li>
                  <li class="filter" data-filter="party"><a href="#">party</a></li>
                  <li class="filter" data-filter="nocover"><a href="#">no cover</a></li>
                  <li class="filter" data-filter="rsvp"><a href="#">RSVP</a></li>
                </ul>
              </div>
            </div>
          </div>

        </div>

      <!-- tab offical ACL -->
      <div class="content tab" id="tab-1">
        <div class="row">
        <!-- Big things: column left -->
         <div class="large-6 columns leftCol ptm stretch">
           
             <div class="big-event-container clearfix">
               <div class="event-image">
                <img src="content/a.jpg">
               </div>
               <div class="text antialiased">
                 <a class="event-title" href="detail.html">This is a big event, with a very very long title</a>
                 <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
               </div>
             </div>
           
           
             <div class="big-event-container clearfix">
               <div class="event-image">
                <img src="content/a.jpg">
               </div>
               <div class="text antialiased">
                 <a class="event-title" href="detail.html">And here you have another big event, with a very long title</a>
                 <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
               </div>
             </div>
           
           
             <div class="big-event-container clearfix">
               <div class="event-image">
                 <img src="content/b.jpg">
               </div>
               <div class="text antialiased">
                 <a class="event-title" href="detail.html">This is a big event</a>
                 <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
               </div>
             </div>
           
           
             <div class="big-event-container clearfix">
               <div class="event-image">
                <img src="content/a.jpg">
               </div>
               <div class="text antialiased">
                 <a class="event-title" href="detail.html">This is a big event</a>
                 <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
               </div>
             </div>
           
           
             <div class="big-event-container clearfix">
               <div class="event-image">
                <img src="content/b.jpg">
               </div>
               <div class="text antialiased">
                 <a class="event-title" href="detail.html">This is a big event</a>
                 <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
               </div>
             </div>
         </div>

         <!-- Small things: column right -->
         <div class="large-6 columns rightCol ptm stretch">
            <ul class="small-block-grid-2">

              <li class="mix freedrink">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is a big event, with a very very long title with too many words</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix freefood">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix party">

                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>

              </li>

              <li class="mix nocover">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix rsvp">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix freedrink">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix freefood">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix party">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix nocover">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix nocover">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix party">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix rsvp">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix party">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix freefood">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

            </ul>

         </div>
        </div>
      </div>
      <!-- tab Official night shows-->
      <div class="content tab" id="tab-2">
        <div class="row">
        <!-- Big things: column left -->
         <div class="large-6 columns leftCol ptm stretch">
           
             <div class="big-event-container clearfix">
               <div class="event-image">
                <img src="content/a.jpg">
               </div>
               <div class="text antialiased">
                 <a class="event-title" href="detail.html">This is a big event</a>
                 <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
               </div>
             </div>
           
           
             <div class="big-event-container clearfix">
               <div class="event-image">
                <img src="content/a.jpg">
               </div>
               <div class="text antialiased">
                 <a class="event-title" href="detail.html">This is a big event</a>
                 <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
               </div>
             </div>
           
           
             <div class="big-event-container clearfix">
               <div class="event-image">
                 <img src="content/b.jpg">
               </div>
               <div class="text antialiased">
                 <a class="event-title" href="detail.html">This is a big event</a>
                 <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
               </div>
             </div>
           
           
             <div class="big-event-container clearfix">
               <div class="event-image">
                <img src="content/a.jpg">
               </div>
               <div class="text antialiased">
                 <a class="event-title" href="detail.html">This is a big event</a>
                 <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
               </div>
             </div>
           
           
             <div class="big-event-container clearfix">
               <div class="event-image">
                <img src="content/b.jpg">
               </div>
               <div class="text antialiased">
                 <a class="event-title" href="detail.html">This is a big event</a>
                 <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
               </div>
             </div>
         </div>

         <!-- Small things: column left -->
         <div class="large-6 columns rightCol ptm stretch">
            <ul class="small-block-grid-2">

              <li class="mix freedrink">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix freefood">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix party">

                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>

              </li>

              <li class="mix nocover">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix rsvp">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix nocover">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix party">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix freefood">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix freedrink">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix freefood">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix party">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix nocover">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix rsvp">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix freefood">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

            </ul>

         </div>
        </div>
      </div>

      <!-- tab unnoficial acl -->
      <div class="content tab" id="tab-3">
        <div class="row">
        <!-- Big things: column left -->
         <div class="large-6 columns leftCol ptm stretch">
           
             <div class="big-event-container clearfix">
               <div class="event-image">
                <img src="content/a.jpg">
               </div>
               <div class="text antialiased">
                 <a class="event-title" href="detail.html">This is a big event</a>
                 <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
               </div>
             </div>
           
           
             <div class="big-event-container clearfix">
               <div class="event-image">
                <img src="content/a.jpg">
               </div>
               <div class="text antialiased">
                 <a class="event-title" href="detail.html">This is a big event</a>
                 <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
               </div>
             </div>
           
           
             <div class="big-event-container clearfix">
               <div class="event-image">
                 <img src="content/b.jpg">
               </div>
               <div class="text antialiased">
                 <a class="event-title" href="detail.html">This is a big event</a>
                 <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
               </div>
             </div>
           
           
             <div class="big-event-container clearfix">
               <div class="event-image">
                <img src="content/a.jpg">
               </div>
               <div class="text antialiased">
                 <a class="event-title" href="detail.html">This is a big event</a>
                 <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
               </div>
             </div>
           
           
             <div class="big-event-container clearfix">
               <div class="event-image">
                <img src="content/b.jpg">
               </div>
               <div class="text antialiased">
                 <a class="event-title" href="detail.html">This is a big event</a>
                 <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
               </div>
             </div>
         </div>

         <!-- Small things: column left -->
         <div class="large-6 columns rightCol ptm stretch">
            <ul class="small-block-grid-2">

              <li class="mix freefood">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix freedrink">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix party">

                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>

              </li>

              <li class="mix party">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix nocover">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix rsvp">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix freedrink">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix freefood">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix party">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix freefood">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix freefood">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix freedrink">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix rsvp">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix freefood">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

            </ul>

         </div>
        </div>
      </div>

      <!-- tab -Local recom. -->
      <div class="content tab" id="tab-4">
        <div class="row">
        <!-- Big things: column left -->
         <div class="large-6 columns leftCol ptm stretch">
           
             <div class="big-event-container clearfix">
               <div class="event-image">
                <img src="content/a.jpg">
               </div>
               <div class="text antialiased">
                 <a class="event-title" href="detail.html">This is a big event</a>
                 <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
               </div>
             </div>
           
           
             <div class="big-event-container clearfix">
               <div class="event-image">
                <img src="content/a.jpg">
               </div>
               <div class="text antialiased">
                 <a class="event-title" href="detail.html">This is a big event</a>
                 <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
               </div>
             </div>
           
           
             <div class="big-event-container clearfix">
               <div class="event-image">
                 <img src="content/b.jpg">
               </div>
               <div class="text antialiased">
                 <a class="event-title" href="detail.html">This is a big event</a>
                 <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
               </div>
             </div>
           
           
             <div class="big-event-container clearfix">
               <div class="event-image">
                <img src="content/a.jpg">
               </div>
               <div class="text antialiased">
                 <a class="event-title" href="detail.html">This is a big event</a>
                 <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
               </div>
             </div>
           
           
             <div class="big-event-container clearfix">
               <div class="event-image">
                <img src="content/b.jpg">
               </div>
               <div class="text antialiased">
                 <a class="event-title" href="detail.html">This is a big event</a>
                 <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
               </div>
             </div>
         </div>

         <!-- Small things: column left -->
         <div class="large-6 columns rightCol ptm stretch">
            <ul class="small-block-grid-2">

              <li class="mix freefood">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix freedrink">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix nocover">

                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>

              </li>

              <li class="mix party">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix rsvp">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix nocover">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix freedrink">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix freefood">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix rsvp">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix nocover">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix freefood">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix freedrink">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix party">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

              <li class="mix party">
                
                  <div class="small-event-container">
                    <div class="event-image">
                     <img src="content/b.jpg">
                    </div>
                    <div class="text antialiased">
                      <a class="event-title" href="detail.html">This is an small event</a>
                      <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
                    </div>
                  </div>
                
              </li>

            </ul>

         </div>
        </div>
      </div>

      <div class="footer row">
         <div class="small-6 small-centered columns by-center">
         <div id="loaderImage" class="mbl"></div>
          loading more content
         </div>
      </div>

      <div id="social">
        <a href="#"><i class="icon-facebook-sign"></i></a>
        <a href="#"><i class="icon-twitter-sign"></i></a>
        <a href="#"><i class="icon-google-plus-sign"></i></a>
        <a href="#"><i class="icon-pinterest-sign"></i></a>
      </div>

    </div>

    <script src="javascripts/script.js" type="text/javascript"></script>

  </body>
</html>
