
<div class="wrapper row header">
  <div class="large-8 columns">
    <ul class="header-navigation">
      <li class="current">
        <a href="#">Official ACL</a>
      </li>
      <li>
        <a href="#">Official Night Late Shows</a>
      </li>
      <li>
        <a href="#">Unofficial ACL</a>
      </li>
      <li>
        <a href="#">Local Recommendations</a>
      </li>
    </ul>
  </div>
  <div class="large-4 columns">
    <div class="small-navbar-note">Show me events with:</div>
    <div id="small-navbar">
      <ul>
        <li><a class="active" href="index.html">Free drinks</a></li>
        <li><a href="#">free food</a></li>
        <li><a href="#">party</a></li>
        <li><a href="#">no cover</a></li>
        <li><a href="#">RSVP</a></li>
      </ul>
    </div>
  </div>
</div>


<div class="content">
<div class="row">
<!-- Big things: column left -->
<div class="large-6 columns left ptm stretch">
  <a href="#">
    <div class="big-event-container clearfix">
      <div class="event-image">
        <img src="content/a.jpg">
      </div>
      <div class="text antialiased">
        <p class="event-title">This is a big event</p>
        <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="big-event-container clearfix">
      <div class="event-image">
        <img src="content/a.jpg">
      </div>
      <div class="text antialiased">
        <p class="event-title">This is a big event</p>
        <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="big-event-container clearfix">
      <div class="event-image">
        <img src="content/b.jpg">
      </div>
      <div class="text antialiased">
        <p class="event-title">This is a big event</p>
        <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="big-event-container clearfix">
      <div class="event-image">
        <img src="content/a.jpg">
      </div>
      <div class="text antialiased">
        <p class="event-title">This is a big event</p>
        <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="big-event-container clearfix">
      <div class="event-image">
        <img src="content/b.jpg">
      </div>
      <div class="text antialiased">
        <p class="event-title">This is a big event</p>
        <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
      </div>
    </div>
  </a>
  <div class="by-center">Scroll Down to See More!
    <div id="triangle-down"></div>
  </div>
</div>

<!-- Small things: column left -->
<div class="large-6 columns right ptm stretch">
<ul class="small-block-grid-2">

  <li>
    <a href="#">
      <div class="small-event-container clearfix">
        <div class="event-image">
          <img src="content/b.jpg">
        </div>
        <div class="text antialiased">
          <p class="event-title">This is an small event</p>
          <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
        </div>
      </div>
    </a>
  </li>

  <li>
    <a href="#">
      <div class="small-event-container clearfix">
        <div class="event-image">
          <img src="content/b.jpg">
        </div>
        <div class="text antialiased">
          <p class="event-title">This is an small event</p>
          <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
        </div>
      </div>
    </a>
  </li>

  <li>
    <a href="#">
      <div class="small-event-container clearfix">
        <div class="event-image">
          <img src="content/b.jpg">
        </div>
        <div class="text antialiased">
          <p class="event-title">This is an small event</p>
          <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
        </div>
      </div>
    </a>
  </li>

  <li>
    <a href="#">
      <div class="small-event-container clearfix">
        <div class="event-image">
          <img src="content/b.jpg">
        </div>
        <div class="text antialiased">
          <p class="event-title">This is an small event</p>
          <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
        </div>
      </div>
    </a>
  </li>

  <li>
    <a href="#">
      <div class="small-event-container clearfix">
        <div class="event-image">
          <img src="content/b.jpg">
        </div>
        <div class="text antialiased">
          <p class="event-title">This is an small event</p>
          <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
        </div>
      </div>
    </a>
  </li>

  <li>
    <a href="#">
      <div class="small-event-container clearfix">
        <div class="event-image">
          <img src="content/b.jpg">
        </div>
        <div class="text antialiased">
          <p class="event-title">This is an small event</p>
          <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
        </div>
      </div>
    </a>
  </li>

  <li>
    <a href="#">
      <div class="small-event-container clearfix">
        <div class="event-image">
          <img src="content/b.jpg">
        </div>
        <div class="text antialiased">
          <p class="event-title">This is an small event</p>
          <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
        </div>
      </div>
    </a>
  </li>

  <li>
    <a href="#">
      <div class="small-event-container clearfix">
        <div class="event-image">
          <img src="content/b.jpg">
        </div>
        <div class="text antialiased">
          <p class="event-title">This is an small event</p>
          <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
        </div>
      </div>
    </a>
  </li>

  <li>
    <a href="#">
      <div class="small-event-container clearfix">
        <div class="event-image">
          <img src="content/b.jpg">
        </div>
        <div class="text antialiased">
          <p class="event-title">This is an small event</p>
          <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
        </div>
      </div>
    </a>
  </li>

  <li>
    <a href="#">
      <div class="small-event-container clearfix">
        <div class="event-image">
          <img src="content/b.jpg">
        </div>
        <div class="text antialiased">
          <p class="event-title">This is an small event</p>
          <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
        </div>
      </div>
    </a>
  </li>

  <li>
    <a href="#">
      <div class="small-event-container clearfix">
        <div class="event-image">
          <img src="content/b.jpg">
        </div>
        <div class="text antialiased">
          <p class="event-title">This is an small event</p>
          <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
        </div>
      </div>
    </a>
  </li>

  <li>
    <a href="#">
      <div class="small-event-container clearfix">
        <div class="event-image">
          <img src="content/b.jpg">
        </div>
        <div class="text antialiased">
          <p class="event-title">This is an small event</p>
          <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
        </div>
      </div>
    </a>
  </li>

  <li>
    <a href="#">
      <div class="small-event-container clearfix">
        <div class="event-image">
          <img src="content/b.jpg">
        </div>
        <div class="text antialiased">
          <p class="event-title">This is an small event</p>
          <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
        </div>
      </div>
    </a>
  </li>

  <li>
    <a href="#">
      <div class="small-event-container clearfix">
        <div class="event-image">
          <img src="content/b.jpg">
        </div>
        <div class="text antialiased">
          <p class="event-title">This is an small event</p>
          <p class="event-tags"><span>Happy Hours</span>, <span>Live music</span></p>
        </div>
      </div>
    </a>
  </li>

</ul>

</div>
</div>
</div>
