<div class="wrapper row header">
  <div class="small-12 columns">
    <ul id="tab-anchors" class="header-navigation">
      <li id="tab-anchor-1" class="current">
        <a href="javascript:ShowTab(1);">Event overview</a>
      </li>
      <li id="tab-anchor-2">
        <a href="javascript:ShowTab(2);">Venue details</a>
      </li>
      <li id="tab-anchor-3">
        <a href="javascript:ShowTab(3);">Artist details</a>
      </li>
    </ul>
  </div>
</div>

<!-- tab event overview -->
<div class="content tab" id="tab-1">
  <div class="row">
    <!-- Big things: column left -->
    <div class="large-6 columns stretch">

      <div class="row">
        <div class="event-picture">
          <img src="http://lorempixel.com/480/320/nightlife">
          <div class="sticker pack detail-badge"><div class="sticker-discount">$30</div><div class="sticker-label">1 beer</div></div>
        </div>
      </div>
      <div class="row">
        <div class="small-9 small-offset-3 columns">
          <h1 class="featuring-title">Featuring:</h1>
        </div>
      </div>

      <ul class="features">
        <li class="row">
          <div class="small-3 columns">
            <img src="content/a.jpg">
          </div>
          <div class="small-9 columns">
            <h2 class="pbm">Alvin and the chipmunks</h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer molestie est ut facilisis convallis. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
          </div>
        </li>
        <li class="row">
          <div class="small-3 columns">
            <img src="content/a.jpg">
          </div>
          <div class="small-9 columns">
            <h2 class="pbm">Alvin and the chipmunks</h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer molestie est ut facilisis convallis. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
          </div>
        </li>
      </ul>
      <div class="row ptl">
        <div class="large-6 columns">
          <div class="user-slug">
            <img src="images/avatars/iurevych.jpg" class="slug-avatar" alt="Sergii Iurevych">
            <ul class="last-col">
              <li class="slug-name">Sergii Iurevych</li>
              <li class="slug-status online">Online</li>
            </ul>
          </div>
        </div>
        <div class="large-6 columns">
          <div class="user-slug">
            <img src="images/avatars/kudinov.jpg" class="slug-avatar" alt="Vladimir Kudinov">
            <ul class="last-col">
              <li class="slug-name">Vladimir Kudinov</li>
              <li class="slug-status away">Away</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row ptl pbl">
        <div class="large-6 large-offset-6 columns">
          <div class="starbar clearfix">
            <div class="star full focus"></div>
            <div class="star full focus"></div>
            <div class="star full focus"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="starbar-rating">
              Rating: 175
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- Small things: column right -->
    <div class="large-6 columns rightCol stretch">
      <div class="mll mrl clearfix">
        <h1 class="title">A night with the stars</h1>
        <ul class="details">
          <li>The house of music</li>
          <li>9:00pm</li>
        </ul>
      </div>
      <div class="mll mrl mbl">
        <p class="text">
          Suspendisse et consequat turpis. Aliquam tincidunt arcu ac porta commodo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus sit amet gravida ligula. Donec eu varius erat. Curabitur tincidunt tellus nec erat ornare commodo. Duis feugiat felis id quam luctus, fermentum ultricies erat blandit. Fusce iaculis ut enim non iaculis. Vivamus vel risus in urna convallis sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut tristique vehicula enim at dignissim. Donec porttitor, augue ac aliquet malesuada, diam elit malesuada augue, sed viverra tortor lectus vel magna. Aenean porta diam sit amet dapibus auctor. Proin scelerisque felis at pellentesque blandit.
        </p>
      </div>
      <div class="text-center">
        <a href="#" class="button-huge positive">
          RESERVE NOW
          <span class="button-description">I Won't Miss It!</span>
        </a>
      </div>
    </div>

  </div>
</div>

<!-- the next tab venue details  -->
<div class="content tab" id="tab-2">
  <div class="row">
    <!-- Big things: column left -->
    <div class="large-6 columns stretch">

      <div class="row">
        <div class="event-picture">
          <img src="http://lorempixel.com/480/320/nightlife">
          <div class="sticker percent popular-badge"><span class="sticker-label popular">popularity</span>80</div>
        </div>
      </div>

      <div class="row ptl">
        <div class="small-8 small-offset-4 columns">
          <p> Suspendisse et consequat turpis. Aliquam tincidunt arcu ac porta commodo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus sit amet gravida ligula. Donec eu varius erat. Curabitur tincidunt tellus nec erat ornare commodo. Duis feugiat felis id quam luctus, fermentum ultricies erat blandit. Fusce iaculis ut enim non iaculis. Vivamus vel risus in urna convallis sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut tristique vehicula enim at dignissim. Donec porttitor, augue ac aliquet malesuada, diam elit malesuada augue, sed viverra tortor lectus vel magna. Aenean porta diam sit amet dapibus auctor. Proin scelerisque felis at pellentesque blandit. </p>
        </div>
      </div>

      <div class="row ptl">
        <div class="small-8 small-offset-4 columns">
          <div class="user-slug">
            <img src="images/avatars/iurevych.jpg" class="slug-avatar" alt="Sergii Iurevych">
            <ul class="last-col">
              <li class="slug-name">Sergii Iurevych</li>
              <li class="slug-status online">Online</li>
            </ul>
          </div>
        </div>
        <div class="ptl small-8 small-offset-4 columns">
          <div class="user-slug">
            <img src="images/avatars/kudinov.jpg" class="slug-avatar" alt="Vladimir Kudinov">
            <ul class="last-col">
              <li class="slug-name">Vladimir Kudinov</li>
              <li class="slug-status away">Away</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row ptl pbl">
        <div class="small-8 small-offset-4 columns">
          <div class="starbar clearfix">
            <div class="star full focus"></div>
            <div class="star full focus"></div>
            <div class="star full focus"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="starbar-rating">
              Rating: 175
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- Small things: column right -->
    <div class="large-6 columns rightCol stretch">
      <div class="mll mrl clearfix">
        <h1 class="title">The house of music</h1>
        <ul class="details">
          <li><i class="icon-map-marker pull-left icon-large mbl"></i> 123 Terrace Street<br>34571</li>
          <li><a href="tel:1-800-555-555"><i class="icon-mobile-phone icon-large"></i> 1-800-555-555</a></li>
        </ul>
        <div class="row">
          <div class="small-12 columns">
            <h1 class="featuring-title upcoming">Upcoming events:</h1>
          </div>
        </div>

        <ul class="features upcoming">
          <li class="row">
            <div class="small-3 columns">
              <img src="content/a.jpg">
            </div>
            <div class="small-9 columns">
              <h2 class="pbm">Alvin and the chipmunks</h2>
              <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer molestie est ut facilisis convallis. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
            </div>
          </li>
          <li class="row">
            <div class="small-3 columns">
              <img src="content/a.jpg">
            </div>
            <div class="small-9 columns">
              <h2 class="pbm">Alvin and the chipmunks</h2>
              <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer molestie est ut facilisis convallis. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
            </div>
          </li>
        </ul>
      </div>

    </div>

  </div>
</div>

<!-- the last tab artist details -->
<div class="content tab" id="tab-3">
  <div class="row">
    <!-- Big things: column left -->
    <div class="large-6 columns stretch">

      <div class="row">
        <div class="event-picture">
          <img src="content/a.jpg">
          <div class="sticker percent popular-badge"><span class="sticker-label popular">popularity</span>80</div>
        </div>
      </div>

      <div class="row ptl">
        <div class="small-8 small-offset-4 columns">
          <p class="text"> Suspendisse et consequat turpis. Aliquam tincidunt arcu ac porta commodo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus sit amet gravida ligula. Donec eu varius erat. Curabitur tincidunt tellus nec erat ornare commodo. Duis feugiat felis id quam luctus, fermentum ultricies erat blandit.</p>
        </div>
      </div>

      <div class="row ptl">
        <div class="small-8 small-offset-4 columns">
          <iframe width="300" height="225" src="http://www.youtube.com/embed/0mtw2bNdCIk?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>

    </div>

    <!-- Small things: column right -->
    <div class="large-6 columns rightCol stretch">
      <div class="mll mrl clearfix">
        <h1 class="title">John doe and his hipster band</h1>
        <ul class="details">
          <li><a href="#"><i class="icon-link pull-left icon-large"></i>hipsterband.com</a></li>
          <li>
            <a href="#"><i class="icon-facebook-sign icon-large"></i></a> <a href="#"><i class="icon-twitter-sign icon-large"></i></a> <a href="#"><i class="icon-youtube-sign icon-large"></i></a>
          </li>
        </ul>
        <div class="row">
          <div class="small-12 columns">
            <h1 class="featuring-title upcoming">Upcoming events:</h1>
          </div>
        </div>

        <ul class="features upcoming">
          <li class="row">
            <div class="small-3 columns">
              <img src="content/a.jpg">
            </div>
            <div class="small-9 columns">
              <h2 class="pbm">Alvin and the chipmunks</h2>
              <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer molestie est ut facilisis convallis. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
            </div>
          </li>
          <li class="row">
            <div class="small-3 columns">
              <img src="content/a.jpg">
            </div>
            <div class="small-9 columns">
              <h2 class="pbm">Alvin and the chipmunks</h2>
              <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer molestie est ut facilisis convallis. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
            </div>
          </li>
        </ul>
      </div>

    </div>

  </div>
</div>

<!-- end tabs -->

