<script>

  // $(document).ready(function() {
  //   oTable = $('#itemsTable').dataTable();
  // });

  $(function() {
    $('#user-select').on("change", function (){
       $(this).append('<div class="ajaxLoader"><br><br><br><img src="/assets/ajax-loader.gif"></div>');
    $.get('/events/upcoming/?range=' + $("input[type='radio'][name='user-select']:checked").val(), function(data) {
      $('.ajaxLoader').detach();
      var tableData = "<table id='itemsTable'><thead><tr><th></th><th>Start Time</th><th>Event</th><th>%</th><th>Updated By</th><th>Updated At</th><th></th></tr></thead><tbody>"
      for (var i=0;i<data.length;i++) {
        tableData += "<tr><td></td><td>"+ data[i].start +"</td>";
        tableData += "<td><a href='/?event_id="+data[i].id+"' target='_blank'>"+data[i].event_title+"</a></td>"; //<td>" + data[i].event_completedness+"</td>";
        tableData += "<td><div style='padding:1px;overflow:hidden;width:30px;margin:0 auto;background-color:rgba(" + Math.round((1 - data[i].event_completedness) * 192) + "," + Math.round(data[i].event_completedness * 192) + ",0,1);''><div style='float:right;height:5px;width:" + Math.round(30 * (1 - data[i].event_completedness)) + "px;background-color:white;''><div style='display:none;'>" + data[i].event_completedness + "</div></div></div></td>";
        tableData += "<td>"+data[i].owner+"</td><td>"+data[i].updated_at+"</td>";
        tableData += "<td><a href='/venues/list_events/" + data[i].venue_id + "#anchor" + data[i].id + "' target='_blank'>Edit</a></tr>";
      }
      tableData += "</tbody></table>"
      $('#tableContainer').html(tableData);
      var iTable =  $('#itemsTable').dataTable({ 
                              "fnDrawCallback": function ( oSettings ) {
                                /* Need to redo the counters if filtered or sorted */
                                if ( oSettings.bSorted || oSettings.bFiltered )
                                {
                                  for ( var i=0, iLen=oSettings.aiDisplay.length ; i<iLen ; i++ )
                                  {
                                    $('td:eq(0)', oSettings.aoData[ oSettings.aiDisplay[i] ].nTr ).html( i+1 );
                                  }
                                }
                              },
                              "bJQueryUI": true,
                              "bRetrieve" : true,
                              "bPaginate" : false,
                              "aoColumnDefs": [{ "sWidth": "45%", "aTargets": [ 2 ] },
                                               { "bSortable": false, "aTargets": [ 0 ] }
                                              ],
                              "aaSorting" : [[1, 'asc']]
                              });
      iTable.fnDraw();
    });
    });
  });

</script>

<h2>Select Time Range:</h2>
<b><form id="user-select">
    <input type="radio" name="user-select" value="oneweek"> Upcoming Week  </option>  
    <input type="radio" name="user-select" value="twoweeks"> Upcoming Two Weeks</option><br>
</form></b>
<br><br>
<div id="tableContainer"></div>
