@media screen and (max-width:768px){
	html {font-size:81.75%;}
	body{padding:0;}
	  
	.navbar .container{position:relative;}
	.navbar-fixed-top, .navbar-fixed-bottom{margin:0;}
	
	.nav-collapse {clear:none; position:absolute; top:39px; right:4px; z-index:999; width:100px; background:#703575; padding:0 4px;}
	.navbar .btn-navbar .nb-left{margin-top:4px;}
	.navbar .btn-navbar .nb-right{margin-left:4px;}
	
	.navbar-inverse .nav-collapse .nav > li > a, .navbar-inverse .nav-collapse .dropdown-menu a{color:#fff;}
	
	
	.carousel-caption {top:0; padding:8px;}
	.carousel-caption h1 {font-size: 266%;}
	.carousel-caption p {font-size: 150%;}
	
	.slider{padding:0 38px;}
	.slider .slide-item {margin:0 18px;}
	.slider .slide-item .name{height:52px; line-height: 1.3;}
	/*.slider .slide-item .info{width:80%;}*/
	.slider .slide-item .info .time{width:68%;}
	.slider a.prev{left:4px;}
	.slider a.next{right:4px;}
	
	.slider-wrap{padding-bottom:0;}
	.see-all{top:-30px;}
	
	.product-list .product-item {
		margin: 0 2% 4% !important;
	}
}

@media screen and (max-width:640px){
	.navbar-search{margin:2% 0 0 2%; width:40%;}
	.navbar-search .popover{width:100%;}
	.navbar-search .popover .popover-content {padding: 10px 8px;}
	.navbar-search .popover .left {width:68%;}
	.navbar-search .popover .right {width:31%;}
	.navbar-search input[type="text"] {width: 63%;  height: 45px; line-height: 45px;}
	.product-list .product-item {
		margin: 0 1% 4% !important;
	}
}

@media screen and (max-width:480px){
	html {font-size: 75%;}
	
	h2 {font-size: 220%; line-height:1.5;}
	
	.lead{font-size:140%;}
	
	.nav-collapse {clear:both; position:static;}
	.navbar .brand {width:56%; padding:0 0 0 4%;}
	
	.navbar-search{
		float:none;
		width:95%;
		margin:8px auto 0;
	}
	.navbar-search .popover .right{width:29%; font-size:90%;}
	.navbar-search input[type="text"]{width:108%;}
	.navbar-search .dropdown-menu {padding:10px; width:247px;}
	.navbar-search .dropdown-menu > li{white-space:normal;}
	.navbar-search .dropdown-menu div.divider-vertical{margin:0 5px;}
	
	.nav-collapse, .nav-collapse.collapse {padding:0 10px; width:100%; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
	.navbar .nav-collapse .nav.pull-right {width:100%;}
	.navbar .nav-collapse .nav > li {width:100%;}
	.navbar-inverse .nav-collapse .nav > li > a, .navbar-inverse .nav-collapse .dropdown-menu a{font-size:110%;}
	
	.carousel{background:#d0d0d0; margin-bottom:0;}
	.carousel-caption{padding:8px;}
	.carousel-caption h1 {font-size:310%; line-height:1; margin-bottom:5%;}
	.carousel-caption p {font-size:150%;}
	.carousel-indicators{top:10px; left:42%;}
	
	.slider-wrap, .tab-pane .content{padding:28px 0 0;}
	.section-title{margin-bottom:24px;}
	.section-title h2{margin-bottom:4px;}
	
	.see-all{right:3%;}
	
	.sort-panel .sort-item {margin-right:5%;}
	.sort-panel .sort-item .icon-bottom-arrow {border-width:5px 5px 0 5px;}
	
	.product-list .product-item {
		height: 281px;
		margin: 0 4% 8% !important;
		width: 42%;
	}
}

@media screen and (max-width:400px){
	.navbar-search input[type="text"]{width:74%;}
}

@media screen and (max-width:320px){
	.navbar-search input[type="text"]{width:69%;}
	.product-list .product-item {width:auto; height:auto;}
}
