<article class="slide-item featured" style="margin: 0 18px">
  <div>
    <%= link_to advertisement.target_url.present? ? advertisement.target_url : '#', class: 'ui-link', target: :_blank do %>
      <%= image_tag advertisement.image.full %>
    <% end %>
  </div>
  <div class="name">
    <%= link_to advertisement.title,advertisement.target_url.present? ? advertisement.target_url : '#', class: 'ui-link'%>
  </div>
  <div class="info clearfix">
    <span class="time pull-left"></span>
    <span class="value pull-right"></span>
  </div>
  <div class="additional-info">
    <span class="place"></span>
    <a class="bookmark ui-link" href="#"><img alt="Bookmark" src="images/icon-bookmark.png"></a>
  </div>
  <span class="featured-text"><%= advertisement.adv_type.titleize %></span>
</article>