<article class="slide-item featured" style="margin: 0 18px">
  <figure>
    <%= link_to featured_ads.target_url.present? ? featured_ads.target_url : '#', class: 'ui-link', target: :_blank do %>
      <%= image_tag featured_ads.image.full %>
    <% end %>
  </figure>
  <div class="name">
    <%= link_to featured_ads.title,featured_ads.target_url.present? ? featured_ads.target_url : '#', class: 'ui-link'%>
  </div>
  <div class="info clearfix">
    <span class="time pull-left"></span>
    <span class="value pull-right"></span>
  </div>
  <div class="additional-info">
    <span class="place"></span>
    <a class="bookmark ui-link" href="#"><img alt="Bookmark" src="images/icon-bookmark.png"></a>
  </div>
  <span class="featured-text"><%= featured_ads.adv_type.titleize %></span>
</article>