<section class="slider-wrap" id="yrhn">
  <div class="container">
    <div class="section-title">
      <h2 class="text-center">Today's Best Events</h2>
      <p class="lead text-center">Its already half past...now! Check out events going on today.</p>
      <a href="#"  class="see-all" ><span tag_type="today" tag_id="0" tag_title="It's halfpastnow"  class="btn btn-danger see_all_links">See All</span><i class="icon-bottom-arrow"></i></a>
    </div>
    <div class="section-content slider">
      <div id="slider1">
        <% occurrences.each_with_index do |occurrence, index| %>
          <% if index == 2 and !advertisement.nil? %>
            <%= render :partial => "events/ads", :locals => { :advertisement => advertisement } %>
          <% else %>
            <%= render :partial => "events/new_splash_event_element", :locals => { :occurrence => occurrence } %>
          <% end %>
        <% end %>
      </div>
      <a class="prev" id="slider1_prev" href="#"><span>prev</span></a>
      <a class="next" id="slider1_next" href="#"><span>next</span></a>
    </div>
  </div>
</section>