<article class="product-item featured" style="margin: 0px 18px;">
  <figure><a href="#" class="ui-link">
    <%= image_tag advertisement.image.full %>
  </a>
  </figure>
  <div class="name" style="margin-bottom: 2px !important;height: 40px !important;">
    <%= link_to advertisement.title,advertisement.target_url.present? ? advertisement.target_url : '#', class: 'ui-link', target: :_blank%>
  </div>
  <div class="clearfix">
    <span class="pull-left"><%= advertisement.description.truncate(80) %></span>
  </div>
  <div>
    <span class="featured-text">Featured Event</span>
  </div>
</article>