<script type="text/javascript">
	var id = "<%= elementId  %>";
	var type = "<%= elementType %>";
	var root_url = "http%3A%2F%2Flocalhost:3000";
	var link = root_url + "%3F" + type + "_id%3D" + id;

	$(function() {
		$('.bookmark-share .bookmark').click(function() {
			//save bookmark somehow
		});
		
		$('.bookmark-share .email').click(function() {
			var url = 'mailto:?body=' + link;
	      	window.open(url, '_blank');
	      	window.focus();
		});
		
		$('.bookmark-share .facebook').click(function() {
			var url = 'http://www.facebook.com/sharer/sharer.php?u=' + link;
			window.open(url, '_blank');
			window.focus();
		});
		
		$('.bookmark-share .twitter').click(function() {
			var url = 'https://twitter.com/intent/tweet?text=' + link;
			window.open(url, '_blank');
			window.focus();
		});
	});
</script>

<div class="bookmark-share">
	<span class="icon icon-bookmark bookmark"></span>
	<span class="icon icon-envelope-alt email"></span>
	<span class="icon icon-facebook-sign facebook"></span>
	<span class="icon icon-twitter-sign twitter"></span>
</div>