
<div data-role="header"> 
		<h1> half pass now.</h1>
</div>
<div data-role="content">
	<div class="ui-grid-a" id="event_infos">	
		<div class="ui-block-a">
			<h1><span>Pancake Breakfast Fundraiser</span></h1>
			<p><strong><span>  Cassius, a nobleman, is speaking with his friend, Brutus, and trying to persuade him that, in the best interests of the public, Julius Caesar must be stopped from becoming monarch of Rome. Brutus is aware of Caesar's intentions, and is torn between his love of his friend Caesar and his duty to the republic. Cassius continues by reminding Brutus that Caesar is just a man, not a god, and that they are equal men to Caesar. They were all born equally free, and so why would they suddenly have to bow to another man? On another level this phrase has been interpreted to mean that fate is not what drives men to their decisions and actions, but rather the human condition.</span></strong></p>
			
			
		</div>		
		<div class="ui-block-b">
			
			<p><a class="map-link" href="http://maps.google.com/maps?q=30.30787,-97.74133" style="float: left;"><img class="map" src="http://maps.googleapis.com/maps/api/staticmap?size=430x170&amp;zoom=15&amp;maptype=roadmap&amp;markers=color:red%7C30.30787,-97.74133&amp;style=feature:all|hue:0x000001|saturation:-50&amp;sensor=false"></a></p>
			
			<!--p><a class="venue-link" href="google.com" target="_blank" >Mathews Elementary</a></p-->
			<p><a class="venue-link" href="http://www.google.com" target="_blank" >Mathews Elementary</a></p>

			<p> <strong>Thursday, May 17 3:00AM</strong></p>
			<p> <strong>Price:</strong> $4.99</p>
			<p> <strong>Phone:</strong> (512) 888 8888</p>
			<p>906 W. Lynn St.</p>
			<p> Austin, TX 78703	</p>
		</div>
	</div><!-- /grid-a -->
	<hr/>
	
	<div class="ui-grid-a" id="contact_infos">	
		<div class="ui-block-a">
		
		
				
		</div>		
		<div class="ui-block-b">

		
		</div>
	</div><!-- /grid-a -->
	<div id="contact_buttons">	
		
		<a href="tel:5128888888"  data-role="button" data-icon="tel"> Call us </a>	
	</div>	
	<hr/>
	
	<div id="notation">	
	<form>
	<label for="select-choice-0" class="select"><h2> User rating </h2></label>
		<select name="note_utilisateur" id="note_utilisateur" data-native-menu="false" data-theme="c" >
		   <option value="one" class="one"> Not good at all </option>
		   <option value="two" class="two">Average </option>
		   <option value="three" class="three">Pretty good </option>
		   <option value="four" class="four"> Excellent </option>
		</select>	
	</form>
	</div>


	<script type="text/javascript">

	$( '#restau' ).live( 'pageinit',function(event){
		var SelectedOptionClass = $('option:selected').attr('class');
		$('div.ui-select').addClass(SelectedOptionClass);
		
		$('#note_utilisateur').live('change', function(){	 
			$('div.ui-select').removeClass(SelectedOptionClass);
			
			SelectedOptionClass = $('option:selected').attr('class');
			$('div.ui-select').addClass(SelectedOptionClass);		
			
		 });
		
	  
	});

	</script>
	

	</div> 