<!DOCTYPE html> 
<html> 
<head> 
	<meta charset="UTF-8">
	<title>half pass now.</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="jquery.mobile.structure-1.0.1.css" />
	<link rel="apple-touch-icon" href="images/launch_icon_57.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="images/launch_icon_72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="images/launch_icon_114.png" />
	<link rel="stylesheet" href="jquery.mobile-1.0.1.css" />
	<link rel="stylesheet" href="custom.css" />
	<script src="js/jquery-1.7.1.min.js"></script>
	<script src="js/jquery.mobile-1.0.1.min.js"></script>
</head> 




<body> 
<div id="choisir_restau" data-role="page" data-add-back-btn="true">
	
	<div data-role="header"> 
		<h1> half pass now.</h1>
	</div> 

	<div data-role="content">
	
		<div class="choice_list"> 
			
			<h1> Austin Convention Center </h1>
			

				<p><a class="map-link" href="http://maps.google.com/maps?q=30.30787,-97.74133" ><img class="map" src="http://maps.googleapis.com/maps/api/staticmap?size=430x170&amp;zoom=15&amp;maptype=roadmap&amp;markers=color:red%7C30.30787,-97.74133&amp;style=feature:all|hue:0x000001|saturation:-50&amp;sensor=false"></a></p> 

				<div class="details">
					<div class="address onee"><span>2100 Barton Springs Road</span></div>
					<div class="address two"><span>Austin, TX 78704</span></div>
					<br />
					<div class="phone"><strong>Phone:</strong> <span> (512) 524-2807</span></div>
					<div class="url"><strong>Website:</strong><a linkto="venue" href="http://events.austin360.com/austin_tx/venues/show/448999-coldtowne-theater">ColdTowne Theater</a></div>
					<!--div class="price"><strong>Hours:</strong> Daily 5am-10pm</div-->
				</div>
			


			
			<ul data-role="listview" data-inset="true" >
				<li><a href="event.html" data-transition="slidedown"> 
						<div class="when sun">
							<div class="mod">
								 AUG26
							</div>
							<div class="day">
								SUN
							</div>
							<div class="time">
								08:30pm
							</div>
						</div>
				 	 	<div class="one">
							<span href="event.html" linkto="event" class="linkto name">Thursday Night Social Club</span>

							<div class="price";  style="color:#2E2EFE"><strong>Price:</strong><span>$10.00 </span>
							</div>

							<div class="description"<span style="color:#888">Thurday night movie of the month</span>
							</div>
						</div>
					</a>
				</li>

				<li><a href="event.html" data-transition="slidedown"> 
						<div class="when sun">
							<div class="mod">
								 JUN26
							</div>
							<div class="day">
								WED
							</div>
							<div class="time">
								11:30pm
							</div>
						</div>
				 	 	<div class="one">
							<span href="event.html" linkto="event" class="linkto name">Jazzy night</span>

							<div class="price";  style="color:#2E2EFE"><strong>Free</strong>
							</div>
							
							<div class="description"<span style="color:#888">Montly Jazz Jam ...</span>
							</div>
						</div>
					</a>
				</li>

				<li><a href="event.html" data-transition="slidedown"> 
						<div class="when sun">
							<div class="mod">
								 MAY26
							</div>
							<div class="day">
								SUN
							</div>
							<div class="time">
								10:30pm
							</div>
						</div>
				 	 	<div class="one">
							<span href="event.html" linkto="event" class="linkto name">WWII Society of Austin</span>

							<div class="price";  style="color:#2E2EFE"><strong>Free</strong>
							</div>
							
							<div class="description"<span style="color:#888">Where were you?</span>
							</div>
						</div>
					</a>
				</li>

				<li><a href="event.html" data-transition="slidedown"> 
						<div class="when sun">
							<div class="mod">
								 AUG26
							</div>
							<div class="day">
								MON
							</div>
							<div class="time">
								11:30pm
							</div>
						</div>
				 	 	<div class="one">
							<span href="event.html" linkto="event" class="linkto name">School Orientation</span>

							<div class="price";  style="color:#2E2EFE"><strong>Free</strong>
							</div>
							
							<div class="description"<span style="color:#888">PTO presents : How to do your kids' homework quickly </span>
							</div>
						</div>
					</a>
				</li>

				<li><a href="event.html" data-transition="slidedown"> 
						<div class="when sun">
							<div class="mod">
								 JUL04
							</div>
							<div class="day">
								WED
							</div>
							<div class="time">
								11:30pm
							</div>
						</div>
				 	 	<div class="one">
							<span href="event.html" linkto="event" class="linkto name">Firework</span>

							<div class="price";  style="color:#2E2EFE"><strong>Free</strong>
							</div>
							
							<div class="description"<span style="color:#888">Once upon a year</span>
							</div>
						</div>
					</a>
				</li>

			
			</ul>	
		
		</div>
	</div>

</div><!-- /page -->
</body>
</html>