<script> 

  $(function(){
    var path = location.pathname;
    if ( path )
      $('#main-menu a[href$="' + path + '"]').attr('class', 'selected');

  });

</script>

  <a href="/venues">&lt; Back</a><br><br>
  <h2><b><%= @venue.name %></b></h2>
  <% if @venue.url && @venue.url != "" %>
    <a href="<%= @venue.url %>"><%= @venue.url %></a>
  <% end %>
  <br>

  <nav>
    <ul>
        <li><a href="#" class='menu settings selected'>Venue Profile</a></li>
        <li><a href="#" class='menu events'>Completed Events</a></li>
        <li><a href="#" class='menu raw_events'>Edit Scraped Events</a></li>       
        <li><a href="#" class='menu raw_events'>Create new Event</a></li>   
    </ul>
  </nav>