<div id="body">

<%- render 'venues_nav' %>


  <div class="tab settings selected">
    <%= render 'form_settings' %>
  </div>
  <div class="tab events">
    <%= render 'form_events2' %>
  </div>
  <div class="tab raw_events">
    <%= render 'form_raw_events2' %>
  </div>
</div>

  <div class="acts mode">
    <div class="overlay">
      <div class="window">
      </div>
    </div>
  </div>