
<script type="text/javascript">
//   $(document).ready(function() {
//   oTable = $('#venues').dataTable({
//     "bJQueryUI": true,
//     "sPaginationType": "full_numbers",
//     "iDisplayLength": 50,
//     "bProcessing": true,
//     "bServerSide": true,
//     "sAjaxSource": $('#venues').data('source'),
//     "aaSorting": [[4, 'desc']],
//     "aoColumnDefs": [{ "sWidth": "30%", "aTargets": [ 0, 1 ] },
//                      { "asSorting": [ "desc", "asc"], "aTargets": [ 2,3,4 ] }]
//   }).fnSetFilteringDelay();
   

// } );

  $(function() {
    // $('#user-select').on("change", function (){
       // $(this).append('<div class="ajaxLoader"><br><br><br><img src="/assets/ajax-loader.gif"></div>');
    $.get('/events/venuesTable', function(data) {
      // $('.ajaxLoader').detach();
      var tableData = "<table id='venues'><thead><tr><th>Venue</th><th>Address</th><th>Popularity</th><th>Evnts</th><th>Raw Evts</th><th>Assignee</th></tr></thead><tbody>"
      for (var i=0;i<data.length;i++) {
        tableData += "<tr><td><a href='/venues/edit/"+data[i].id+"' target='_blank'>"+data[i].name+"</a></td>";
        tableData += "<td>" + data[i].address + "</td>"; //<td>" + data[i].event_completedness+"</td>";
        tableData += "<td>" + data[i].views + "</td>";
        tableData += "<td>"+data[i].num_events+"</td><td>"+data[i].num_raw_events+"</td><td>"+data[i].firstname+" "+data[i].lastname+"</td></tr>";
      }
      tableData += "</tbody></table>"
      $('#tableContainer').html(tableData);
      var iTable =  $('#venues').dataTable({ 
                              "bJQueryUI": true,
                              "sPaginationType": "full_numbers",
                              "iDisplayLength": 50,
                              "aaSorting": [[4, 'desc']],
                              "aoColumnDefs": [{ "sWidth": "30%", "aTargets": [ 0, 1 ] },
                                               { "asSorting": [ "desc", "asc"], "aTargets": [ 2,3,4,5 ] }]
                              });
      iTable.fnDraw();
      $('.ajaxLoader').detach();
    });
    // });
  });
  var venue_id = null;

  $(function() {

    $("#venues_filter").click( function() {
      $(this).find('input:text').attr("value", "");
    });

    $("#venue-go").click(function() {
      if(venue_id) {
        console.log("/venues/edit/" + venue_id);
        window.location = "/venues/edit/" + venue_id;
      }
    });

    $( "#venue-name" ).autocomplete({
      source: function( request, response ) {
        $.getJSON("/venues/find?contains=" + request.term, function (data) {
          console.log(data);
          response(data);
        });
      },
      minLength: 2,
      select: function( event, ui ) {
        $("#venue-name").val(ui.item.label);
        venue_id = ui.item.id;

        console.log( ui.item ?
          "Selected: " + ui.item.label :
          "Nothing selected, input was " + this.value);
      },
      open: function() {
        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
      },
      close: function() {
        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
      }
    });
  });

</script>
<h1>Find Venue</h1>
<a href="/venues/new">New Venue</a><br /><br />
<div id="tableContainer"></div>
<div class="ajaxLoader" style="color:red; font-style:italic bold"><br>loading...</div>
<!-- <table id="venues"class="display" data-source="<%= venues_url(format: "json") %>">
  <thead>
  <tr>
    <th>Venue</th>
    <th>Address</th>
    <th>Popularity</th>
    <th>Events</th>
    <th>Raw Events</th>
  </tr>
</thead>
<tbody>
</tbody>
</table> -->

