<!--
#################################
  - THE SLIDER -
#################################
-->

<section class="fullwidthbanner-container">
  <div class="fullwidthbanner">
    <ul>
      <!-- THE FIRST SLIDE -->
      <li data-transition="fade" data-slotamount="10" data-masterspeed="300" data-delay="7000">
        <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
        <img src="/assets/slider/slide1-bg.jpg" data-fullwidthcentering="on">

        <!-- THE CAPTIONS IN THIS SLDIE -->
        <div class="caption lfb stt"
             data-x="50"
             data-y="70"
             data-speed="600"
             data-start="100"
             data-easing="easeOutExpo"  ><img src="/assets/slider/slide1-fg.png"></div>

        <div class="caption lfr str nwsltr-btn"
             data-x="735"
             data-y="240"
             data-speed="600"
             data-start="700"
             data-easing="easeOutExpo"  ><a href="#"><img src="/assets/slider/nwsltr-btn.png"></a></div>
      </li>

      <!-- THE SECOND SLIDE -->
      <li data-transition="fade" data-slotamount="10" data-masterspeed="2300" data-delay="7000">
        <img src="/assets/slider/slide2-bg.jpg" data-fullwidthcentering="on">

        <div class="caption lfb stt"
             data-x="50"
             data-y="70"
             data-speed="600"
             data-start="100"
             data-easing="easeOutExpo" data-end="6500" data-endspeed="300" data-endeasing="easeInSine" ><img src="/assets/slider/slide2-fg1.png"></div>

        <div class="caption lfl str"
             data-x="50"
             data-y="130"
             data-speed="600"
             data-start="700"
             data-easing="easeOutExpo" data-end="6000" data-endspeed="600" data-endeasing="easeInSine" ><img src="/assets/slider/slide2-fg2.png"></div>

        <div class="caption lfl str"
             data-x="300"
             data-y="130"
             data-speed="600"
             data-start="1300"
             data-easing="easeOutExpo" data-end="5500" data-endspeed="600" data-endeasing="easeInSine" ><img src="/assets/slider/slide2-fg3.png"></div>

        <div class="caption lfl str"
             data-x="600"
             data-y="130"
             data-speed="600"
             data-start="1900"
             data-easing="easeOutExpo" data-end="5000" data-endspeed="600" data-endeasing="easeInSine" ><img src="/assets/slider/slide2-fg4.png"></div>

        <div class="caption lfr str nwsltr-btn"
             data-x="735"
             data-y="240"
             data-speed="600"
             data-start="700"
             data-easing="easeOutExpo"  ><a href="#"><img src="/assets/slider/nwsltr-btn.png"></a></div>
      </li>

    </ul>
    <div class="tp-bannertimer"></div>
  </div>
</section>

<!--
 #################################
   - END SLIDER -
 #################################
 -->

<style>
    /*html, body {*/
        /*font: 1em/1.62em 'Roboto', Arial, "Liberation Sans", FreeSans, sans-serif;*/
    /*}*/
</style>
