<!DOCTYPE html> 
<html> 
<head> 
	<meta charset="UTF-8">
	<title>half pass now.</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="jquery.mobile.structure.css" />
	<link rel="stylesheet" href="custom.css" />
	<script src="js/jquery-1.8.2.min.js"></script>

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-36312888-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	
</head> 




<body> 
<div id="choisir_restau" data-role="page" data-add-back-btn="true">
	
	<div data-role="header"> 
	</div> 
	<br><br>
	<img src="/assets/halfpastnow_final_300.png">
	<br style="box-shadow:1px;"><br>

	<div data-role="content" style="text-align:center;">
		Download our iPhone app at
		<div >
			<a target="_blank" href="https://itunes.apple.com/us/app/halfpastnow/id589530107">
	    			<img src="/assets/apple_stoer.png" />
	    	</a>
		</div>
	</div>

</div><!-- /page -->
</body>
</html>