.dk_theme_alegreya {
       
    font-size: 20px;
    margin: 6px 0 0 0;
    height: 27px;
    border-radius: 2px;
    border: 1px solid transparent;
    background: rgba(255, 255, 255, .2);
    float: left;
    padding: 0 11px 3px 11px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
    line-height: 28px;
    font-family: Lato,sans-serif;
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: 900;
}

.dk_theme_alegreya.selected {
    color: white; background: #0094C5; 
    border-color: transparent; 
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .25); 
    box-shadow: none;
    
    margin-top: 12px;
    border-radius: 2px 2px 0 0;
}

.dk_theme_alegreya.dk_open {
    box-shadow:none;
}

.dk_theme_alegreya .dk_toggle,
.dk_theme_alegreya.dk_open .dk_toggle {
    padding: 0;

    height: 33px;
    border-radius: 0;
    border: none;
    color: white;
    background: transparent;
}

.dk_theme_alegreya.selected .dk_toggle,
.dk_theme_alegreya.dk_open.selected .dk_toggle { 
   border: none;   
}

.dk_theme_alegreya .dk_label:after {
    content:"\f0d7";
    font-family:FontAwesome;
    margin-left: 8px;
    
    float: right;
    margin-top: 2px;
}

.dk_theme_alegreya.selected { 
}

.dk_theme_alegreya.dk_open .dk_label {
}

.dk_theme_alegreya.dk_open .dk_label:after {
    content:none;
    margin-left:0;
}

.dk_theme_alegreya.dk_open .dk_toggle {
    box-shadow: none;
}

.dk_theme_alegreya.dk_open .dk_options {
    top: 32px !important;
}

.dk_theme_alegreya .dk_options a {
    font-weight: 900;

    height: 20px;
    line-height: 19px;
    font-size: 20px;
}

.dk_theme_alegreya .dk_options a:hover,
.dk_theme_alegreya .dk_option_current a {
    text-shadow: none;
  
    font-weight: 700;
}
