.dk_theme_alegreya {
    margin: 2px 0 0 0;
    height: 22px;
    border-radius: 2px;
    background: white;
    float: left;
    line-height: 28px;
    font-family: Lato,sans-serif;
    font-weight: normal;
    color:#666;
    text-shadow:none;
    font-size: 13px;
    border-bottom: 1px dotted;
    padding-left:4px;
    white-space: nowrap;
}

/*
.dk_theme_alegreya.selected {
    color: white; background: #0094C5; 
    border-color: transparent; 
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .25); 
    box-shadow: none;
    
    margin-top: 12px;
    border-radius: 2px 2px 0 0;
}*/

.dk_theme_alegreya.dk_open {
    box-shadow:none;
}

.dk_theme_alegreya .dk_toggle,
.dk_theme_alegreya.dk_open .dk_toggle {
    padding: 0;

    height: 33px;
    border-radius: 0;
    border: none;
    background: transparent;
}


.dk_theme_alegreya .dk_label:after {
    content:"\f0d7";
    font-family:FontAwesome;
    margin-left: 8px;
    position:absolute;
    margin-top: 2px;
    right:3px;
}

.dk_theme_alegreya.selected { 
}

.dk_theme_alegreya.dk_open .dk_label {
}

.dk_theme_alegreya.dk_open .dk_label:after {
    content:none;
    margin-left:0;
}

.dk_theme_alegreya.dk_open .dk_toggle {
    box-shadow: none;
}

.dk_theme_alegreya.dk_open .dk_options {
    top: 23px !important;
}

.dk_theme_alegreya .dk_options a {
    font-weight: 700;
    font-size: 13px;
    padding:0 0 0 4px;
}

.dk_theme_alegreya .dk_options a:hover,
.dk_theme_alegreya .dk_option_current a {
    text-shadow: none;
  
    font-weight: 700;
}
