/*** general styling */
.ui-page.ui-body-c{
background:url(/assets/bg.png);
box-shadow:  0px 0px 30px 5px rgba(107, 105, 105, 0.3) inset,
 0px 0px 0px 1px rgba(107, 105, 105, 0.4) inset;

}

.ui-icon.ui-icon-arrow-r {
background-color:rgb(136, 111, 110);
}
.ui-corner-all, 
.ui-corner-top,
.ui-corner-bottom,
.ui-corner-tl,
.ui-corner-tr,
.ui-corner-bl,
.ui-header .ui-btn-corner-all,
.ui-listview-filter .ui-btn-corner-all,
#event_infos .ui-btn-corner-all,
#contact_buttons .ui-btn-corner-all,
#notation .ui-btn-corner-all{
border-radius:0.2em;
}

.ui-btn-active {
background: #654644; /* Old browsers */
background: -moz-linear-gradient(top,  #654644 0%, #331c1b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#654644), color-stop(100%,#331c1b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #654644 0%,#331c1b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #654644 0%,#331c1b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #654644 0%,#331c1b 100%); /* IE10+ */
background: linear-gradient(top,  #654644 0%,#331c1b 100%); /* W3C */
color:#fff !important;
}
.ui-content .choice_list  .ui-btn-active .ui-link-inherit,
.ui-btn-down-c a.ui-link-inherit,
#home .ui-btn-down-c a.ui-link-inherit{
color:#fff !important;
}

img{
max-width: 100%;
height: auto; width: auto;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.ui-grid-a .ui-block-a, .ui-grid-a .ui-block-b {
    width: 48%;
    padding:1%;
}





/* title bar */
.ui-header.ui-bar-a{
background:url(/assets/header_bg.png);
}
.ui-header .ui-title {
text-indent:-9999px;
font-size:0px;
background:url(/assets/halfpastnowMobile.png) no-repeat center center ;
height:33px;
padding:5px 0 5px 50px;
margin:0px;
}

.ui-header  .ui-btn-up-a  {
background:rgba(255, 255, 255, 0.1);
box-shadow:none;
}
.ui-header  .ui-btn-hover-a {
background:rgba(0, 0, 0, 0.3);
box-shadow:none;
}




/*** home **/

#branding{
background:url(/assets/logo.png) no-repeat;
width:322px;
height:165px;
text-indent:-999px;
font-size:0px;
margin:-10px auto 0 auto;
border-bottom:1px solid rgba(65, 38, 37, 0.6);
}

.pricing{


text-align: left;


}
.pricing fieldset {



display: inline;

}
.choice_list h1{
margin-top:30px;
font-size:18px;
color:rgb(65, 38, 37);
font-weight:normal;
font-style:italic;
padding:5px 0 6px 50px;
/*background:url(images/pagination.png) no-repeat;*/
}

#home .choice_list h1{
background-position: 0 -16px;
}
#home .choice_list  h3{
padding-top:10px;
color:rgb(63, 41, 39);
}
#home .choice_list .ui-btn-active  a.ui-link-inherit h3{
color:#fff;
}
.choice_list  img{
padding:3px;
}



/** Chose the town **/

#choisir_ville .choice_list h1{
background-position: 0 -72px;
margin-bottom:20px;
}
#choisir_ville .choice_list a{
padding-top:10px;
color:rgb(63, 41, 39);
}
#choisir_ville .ui-listview-filter a{
padding-top:0px;
}


/** choix du restaurant **/
#choisir_restau .choice_list h1{
background-position: 0 -132px;
margin:10px auto 20px auto;
}
#choisir_restau .choice_list a{
padding-top:10px;
color:rgb(63, 41, 39);
}

#choisir_restau .classement{
display:inline-bloc;
background:url(/assets/pagination.png) no-repeat  0 -182px;
height:22px;
text-indent:-999px;
font-size:0px;
}

#choisir_restau .onee{
width: 215px;
margin-left: 0px;
}
#choisir_restau .two{
width: 130px;
}
#choisir_restau .three{
width:75px;
}
#choisir_restau .four{
width:99px;
}







/** event infos **/
#event_infos,
#contact_infos {
color:rgb(63, 41, 39);
font-size:14px;
}
#event_infos h1,
#contact_infos h2,
#notation h2{
color:rgb(63, 41, 39);
font-size:18px;
margin:0 auto 5px auto;
}

#event_infos p,
#event_infos ul,
#contact_infos p{
margin:2px auto 5px auto;
}
#event_infos ul{
padding:0 0 0 10px;
}
#event_infos ul  li{
list-style-type:square;
margin-left:5px;
}

#event_infos .ui-block-b .ui-btn {
font-size:12px;
}
#event_infos .ui-block-b .ui-btn-inner{
padding:5px;
}


#event_infos.ui-grid-a .ui-block-b .price{

}

#event_infos.ui-grid-a .ui-block-b .phone{
  
}
#event_infos.ui-grid-a .ui-block-b .add1{
  
}
#event_infos.ui-grid-a .ui-block-b .add2{
  
}
#contact_buttons a{
color:rgb(63, 41, 39);
}

.ui-icon-maps {
background: rgb(63, 41, 39) url(/assets/maps.png) no-repeat;
}
.ui-icon-tel{
background: rgb(63, 41, 39) url(/assets/phone.png) no-repeat;
}

/** add the stars to the drop down */
#note_utilisateur-menu a{
padding-left:100px;
position:relative;
}

#note_utilisateur-button span.ui-btn-text{
background:url(/assets/pagination.png) no-repeat;
} 

#note_utilisateur-button span.ui-btn-inner{
	padding-left:5px;
} 

#note_utilisateur-menu li a:before{
content: "   ";
display:inline-block;
width:115px;
height:20px;
background:url(/assets/pagination.png) no-repeat;
position:absolute;
left:0px;
}
.one #note_utilisateur-button span.ui-btn-text,
#note_utilisateur-menu li a:before{
background-position: -75px -182px;
}
.two #note_utilisateur-button span.ui-btn-text,
#note_utilisateur-menu li + li a:before{
background-position: -52px -182px;
}
.three #note_utilisateur-button span.ui-btn-text,
#note_utilisateur-menu li + li +li a:before{
background-position: -27px -182px;
}
.four #note_utilisateur-button span.ui-btn-text,
#note_utilisateur-menu li + li +li +li a:before{
background-position: -2px -182px;
}

/** mod day time **/
.when
{
  position: relative;
  text-align: left;
  border-radius: 0;
  background-color: rgb(136, 111, 110);
  color: #FFFFFF;
  font-family: UbuntuMonoBold, sans-serif;
  float: left;
  width: 60px;
  height: 60px;
}


.when .mod
{
  position: absolute;
  top: 4px;
  left: 6px;
  width: 60px;
  font-size: 14px;
  letter-spacing: 1px;
}

.one
{
  margin-left: 70px;
  margin-right: 26px;
}

.when .day
{
  position: absolute;
  top: 32px;
  width: 60px;
  font-size: 20px;
    line-height: 0;
  letter-spacing: 4px;
  left: 5px;
}
.when .time
{
  position: absolute;
  top: 42px;
  width: 60px;
  font-size: 15px;
  font-variant: small-caps;
  left: 4px;
}

.events LI .index
{
  float: left;
  margin-right: 5px;
  margin-top: 0.7px;
  width: 30px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background-color: rgb(136, 111, 110);
  color: white;
  font-family: UbuntuMonoBold, sans-serif;
  font-size: 22px;
  box-shadow: 2px 2px 5px rgba(0,0,0,.5) inset;
  text-shadow: 2px 2px 5px rgba(0,0,0,.5);
}
/*venue*/
/*.details {
  font-size: 13px; float: right; padding: 10px; width: 190px; height: 150px; background: none repeat scroll 0pt 0pt rgb(221, 221, 238);
}*/
.address .one
{
  margin-left: 70px;
  margin-right: 26px;
}

 #mapShow #map {
  width:300px;
  height:250px;
  float:left;
  border: 5px solid rgba(19, 19, 58, .25);
  border-left: 0;
}
/* Venues */ 
#venue .vevents li {
overflow: hidden;
margin: 10px 0 0 0;

}
.vevents li .when {
position: relative;
  text-align: left;
  border-radius: 0;
  background-color: rgb(136, 111, 110);
  color: #FFFFFF;
  font-family: UbuntuMonoBold, sans-serif;
  float: left;
  width: 60px;
  height: 60px;
}
#venue .ui-content .details a.url.ui-link{

}
li {
margin: 0;
padding: 0;
}
.vevents li .when .mod {
 position: absolute;
  top: 4px;
  left: 6px;
  width: 60px;
  font-size: 14px;
  letter-spacing: 1px;
}
.vevents li .when .day {
position: absolute;
  top: 32px;
  width: 60px;
  font-size: 20px;
    line-height: 0;
  letter-spacing: 4px;
  left: 5px;
}
.vevents li .when .time {
position: absolute;
  top: 42px;
  width: 60px;
  font-size: 15px;
  font-variant: small-caps;
  left: 4px;
}
#venue li .one {
margin-left: 70px;
margin-right: 0;
}
.vevents li .name {
font-size: 18px;
font-weight: bold;
color: #13133A;
text-decoration: none;
cursor: pointer;
}
.vevents li .one .description {
font-size: 12px;
  margin-top: 4px;
  color: #888888;
  height: 30px;
  overflow: hidden;
  line-height: 1.2em;
}
#venue li .one .description {
font-size: 12px;
  margin-top: 4px;
  color: #888888;
  height: 30px;
  overflow: hidden;
  line-height: 1.2em;
}
/*Search box and filter layout*/
input.ui-input-text, textarea.ui-input-text {
background-image: none;
padding: .4em;
line-height: 1.4;
font-size: 17px;
display: inline-table;
width: 45%;
}

input#searchMap.ui-input-text {
background-image: none;
padding: .4em;
line-height: 1.4;
font-size: 17px;
display: inline-table;
width: 62%;
}

#filter .tag-library
{
  margin: 7px 0 3px;
  width: 432px;
  height: 60px;
  overflow:hidden;
  background-color:transparent;
}
#filter .tag-library
{
  height:160px;
}

#filter .tag-library DIV
{
  float:left;
  font-weight:normal;
  padding:1px 5px;
  cursor:pointer;
  background-color:#4C4C84;
  color:white;
  margin-right:3px;
  margin-bottom:3px;
  border-radius:2px;
  font-variant:small-caps;
  font-size: 14px;
}
#filter .tag-library DIV:after
{
  content: "+";
  font-weight: bold;
  position: relative;
  top: 2px;
  left: 2px;
}
#filter .more-tags
{
  font-weight:normal;
  padding:1px 5px;
  cursor:pointer;
  background-color: #5858C9;
  color:white;
  border-radius: 2px 0 0 0;
  font-variant:small-caps;
  text-align: center;
  width: 82px;
  position: absolute;
  bottom: 0;
  right: 0;
}
#home .one .description span {
font-size: 12px;
color: #2E2EFE;
}
#venue .one .description span {
font-size: 12px;
color: #2E2EFE;
}
#home li .one .nameEvent{
font-size: 18px;
font-weight: bold;
color: #13133A;
text-decoration: none;
cursor: pointer;
}

#home li .one .description  {
font-size: 12px;
color: #888;
}
#home li .one .where  {
font-size: 14px;

}
.longitude {
  position:fixed;
  left:-1000px;
  top:0;
}
div.ui-loader.ui-overlay-shadow { display: none !important; }
#home .info
{
  float:left;
}
#home .count{

}
/*Marker info window*/
div.backgroundm
  {
  width:250px;
  height:125px;
  background:url(klematis.jpg) repeat;
  border:2px solid black;
  }
div.transbox
  {
  width:200px;
  height:90px;
  margin:15px 25px;
  background-color:#ffffff;
  border:1px solid black;
  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
  }
