/* This is for home page

*= require styles10
*= require bootstrap
*= require bootstrap-responsive
*= require custom1
*= require media-queries
*= require_self
*/

.dropdown-menu1 .divider {
  margin-top: 0;
}

.dropdown-menu1 div {
  float: left;
  width: 47%;
  text-align: left;
}

*::-moz-placeholder {
  color: #BBBBBB;
}

.dropdown-menu1 > li {
  font-size: 80%;
}

.dropdown-menu1 div.divider-vertical {
  border-left-color: #F2F2F2;
  border-right: medium none;
  height: 172px;
  width: 1px;
}

.dropdown-menu1 {
  background-clip: padding-box;
  background-color: #FFFFFF;
  float: left;
  left: 9px;
  list-style: none outside none;
  margin: 2px 0 0;
  min-width: 100%;
  position: relative;
  top: -10px;
  z-index: 1000;
}

.dropdown-menu1 div > a {
  color: #777777;
  font-size: 125%;
  font-weight: 700;
  line-height: 27px;
  text-transform: uppercase;
}

.nav-user-photo {
  border: 2px solid #FFFFFF;
  border-radius: 100%;
  float: left;
  margin: 0 7px 0 0;
  max-width: 40px;
  position: relative;
}

.navbar .nav_profile {
  padding-top: 0px !important;
  width: 230px;
}

.see-more a {
  position: relative;
  top: 50%;
}

.see-more {
  text-align: center;
}

.nav.pull-right .nav_links {
  font-size: 125%;
}

.navbar .nav {
  padding-top: 10px;
  width: 280px;
}

