html, body {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	overflow:hidden;
}

body {
	background-image: -webkit-radial-gradient(center, circle cover, rgba(139, 56, 139, 0.99) 0%,rgba(53, 0, 53, 0.99) 100%);

	background: #8b388b; /* Old browsers */
	background: -moz-radial-gradient(center, circle cover, #8b388b 0%, #350035 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#8b388b), color-stop(100%,#350035)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, circle cover, #8b388b 0%,#350035 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, circle cover, #8b388b 0%,#350035 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, circle cover, #8b388b 0%,#350035 100%); /* IE10+ */
	background: radial-gradient(circle at center, #8b388b 0%,#350035 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b388b', endColorstr='#350035',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#content-outer {
	position:absolute;
	top: 30%;
	left:0;
	width: 100%;
	background: rgba(255, 255, 255, .93);
	box-shadow: 0 0 26px rgba(0, 0, 0, .4);
}

#content {
	margin:0 auto;
	width: 900px;
	border-radius: 2px;   
	font-family: Lato;
	color: black;
	font-size: 24px;
	font-weight: normal;
}

#content h1 {
    font-size: 64px;

    letter-spacing: -0.04em;
}

#content .logo {
	margin: 30px 0 10px;
	width: 177px;
	position: relative;
	float:left;
}

#content .info-line {
    overflow:hidden;
}


#content .description {
    float: right;
    width: 628px;
    font-size: 20px;
    font-weight: 300;
    margin-top: 30px;
    border-left: 1px solid #ccc;
    padding-left: 45px;
    line-height: 1.7em;
}

.go-button {
 	display: inline-block;
	
 	font-family: Lato, Tahoma, sans-serif;
 	font-size: 29px;
	color: #ffffff;
	
 	background: #57c7ec; /* Old browsers */
	background: -moz-linear-gradient(top, #57c7ec 0%, #1982a5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#57c7ec), color-stop(100%,#1982a5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #57c7ec 0%,#1982a5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #57c7ec 0%,#1982a5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #57c7ec 0%,#1982a5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #57c7ec 0%,#1982a5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57c7ec', endColorstr='#1982a5',GradientType=0 ); /* IE6-9 */
 	
 	border-radius: 5px;
 	border: 1px solid black;
 	text-shadow: -1px -1px 0px rgba(0,0,0,0.6);
	
 	margin: 0 0 0 10px;
	font-weight: bold;
 	height: 32px;
	
 	width: 136px;
 	cursor: pointer;
 	position: relative;
 	top: 2px;
 	box-shadow: 2px 2px 8px rgba(0,0,0,.2);
 	font-variant: small-caps;
 	padding-top: 0;
 	font-weight: 900;
 	padding-bottom: 40px;
 	float: right;
}

.search-line {
    padding-bottom: 15px;
    padding-top: 14px;
}

.search-line .dk_container {
    box-shadow: 2px 2px 8px rgba(0,0,0,.3);
	
}
