#overlays {
    position: fixed;
    top: 0;
    z-index: 1000;
}
.mode .overlay {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.75);
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
}
.mode.shunt .window.lite {
    width: 650px;
}
.mode .window.lite {
    background: none repeat scroll 0 0 white;
    width: 437px;
}
.mode .window {
    background: none repeat scroll 0 0 white;
    margin: 24px auto;
    overflow: hidden;
    position: relative;
    width: 990px;
    z-index: 1000;
}
.mode .window .title {
    background: none repeat scroll 0 0 #0094C5;
    color: #FFFFFF;
    font-size: 27px;
    font-style: italic;
    height: 37px;
    padding: 10px 18px;
    position: relative;
}

.mode.shunt .window.lite .inner {
    padding: 0;
}
.mode .window.lite .inner {
    padding-top: 18px;
}
.mode .window .inner {
    color: #303030;
    padding: 0 18px 18px;
}
.mode.shunt .window.lite .method.signup {
    border-right: 1px dotted #888888;
}
.mode.shunt .window.lite .method {
    background: none repeat scroll 0 0 white;
    float: left;
    margin: 23px 0;
    padding: 0 30px;
}
.mode.shunt .window.lite .field {
    float:none;
}

.mode.shunt .window.lite {
    width: 522px;
}

.mode.shunt .window.lite .inner {
    padding:0;
}

.mode.shunt .window.lite .method input {
    margin-bottom:10px;
    width: 196px;
    margin-left: 0;
}

.mode.shunt .window.lite .method input[type=submit] {
    width:auto;
}


.mode.shunt .window.lite .method {
    background:white;
    padding: 0 30px 0;
    float:left;
    width: 200px;
    margin: 23px 0;
}

.mode.shunt .window.lite .method.signup {
    border-right: 1px dotted #888;
}
.mode.shunt .window.lite .field {
    float:none;
}