/* Global styles */


























@font-face {
    font-family: PTSansNarrow;
    src: url('/assets/PTN57F-webfont.eot');
    src: url('/assets/PTN57F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/PTN57F-webfont.woff') format('woff'),
         url('/assets/PTN57F-webfont.ttf') format('truetype'),
         url('/assets/PTN57F-webfont.svg#PTSansNarrowBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: PTSansBold;
    src: url('/assets/PTS75F-webfont.eot');
    src: url('/assets/PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/PTS75F-webfont.woff') format('woff'),
         url('/assets/PTS75F-webfont.ttf') format('truetype'),
         url('/assets/PTS75F-webfont.svg#PTSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: PTSansNarrowBold;
    src: url('/assets/PTN77F-webfont.eot');
    src: url('/assets/PTN77F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/PTN77F-webfont.woff') format('woff'),
         url('/assets/PTN77F-webfont.ttf') format('truetype'),
         url('/assets/PTN77F-webfont.svg#PTSansNarrowBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
  font-family: UbuntuMonoBold;
  src: url("/assets/ubuntumono-b-webfont.eot");
  src: url("/assets/ubuntumono-b-webfont.eot?#iefix") format('embedded-opentype'), url("/assets/ubuntumono-b-webfont.woff") format('woff'), url("/assets/ubuntumono-b-webfont.ttf") format('truetype'), url("/assets/ubuntumono-b-webfont.svg#UbuntuMonoBold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face
{
  font-family: UbuntuMonoRegular;
  src: url("/assets/ubuntumono-r-webfont.eot");
  src: url("/assets/ubuntumono-r-webfont.eot?#iefix") format('embedded-opentype'), url("/assets/ubuntumono-r-webfont.woff") format('woff'), url("/assets/ubuntumono-r-webfont.ttf") format('truetype'), url("/assets/ubuntumono-r-webfont.svg#UbuntuMonoRegular") format('svg');
  font-weight: normal;
  font-style: normal;
}
html, body
{
  margin: 0;
  padding: 0;
  background-color:white;
  font-family: "Trebuchet MS",Arial,sans-serif;
  font-size: 16px;
  width:100%;
  height:100%;
  overflow:hidden;
  background: #F3F3FA url(scaleside5.png);
}

#body {
  width:100%;
  height:100%;
  overflow:auto;
  position:relative;
}

UL, LI
{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
H1, H2, H3, H4, H5, H6
{
  margin: 0;
  padding: 0;
  font-weight: normal;
}
H1
{
  font-size: 36px;
}
H2
{
  font-size: 24px;
}
H3
{
  font-size: 21px;
}
H4
{
  font-size: 18px;
}
H5
{
  font-size: 16px;
}
H6
{
  font-size: 14px;
}
#header {
  background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0)), url("/assets/scaletake2b.png");
}

#header {
  z-index: 500;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
#header > .one
{
  height: 43px;
  overflow: hidden;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(128, 128, 128, .25)), url("/assets/scaletake2b.png");
  box-shadow: 0 2px 8px rgba(0,0,0,.4);
}
#header > .one .logo
{
  float: left;
  height: 37px;
  margin-top: 4px;
  margin-left: -2px;
}

#header > .one a 
{
  text-decoration:none;
  color: white;
}

#header > .one .menu-element
{
  float: left;
  color: white;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 15px;
  font-size: 14px;
}
#header > .one .menu-element.right
{
  float: right;
  margin-right: 10px;
}
#header > .two
{
  border-bottom: 1px solid #422043;
  height: 60px;
  overflow: hidden;
  background-image: url("/assets/scaletake2b.png");
  background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0)), url("/assets/scaletake2b.png");
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0)), url("/assets/scaletake2b.png");
}
#header > .two .search
{
  margin: 6px 0 0 4px;
}
#header > .two .search label {
  top: 4px;
  position: relative;
  font-size: 34px;
  display: inline-block;
  margin: 0 5px;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: -0.03em;
  text-shadow: -1px -1px 0 #39153B;
  font-family: PTSansNarrowBold;
}
#header > .two .search INPUT[type=text]
{
  background: #FFFFFF;
  border: 0px solid #000000;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 3px 6px;
  margin: 0 5px;
  position: relative;
  top: -3px;
  box-shadow: -1px -1px 0 #39153B;
  color: #532156;
}
input:-moz-placeholder
{
  color: #3C3C57;
}
input::-webkit-input-placeholder
{
  color: #3C3C57;
}
#header > .two .search INPUT.terms
{
  width: 360px;
}
#header > .two .search INPUT.location
{
  width: 280px;
}
#header > .two .search INPUT[type=image]
{
  background-color: #521257;
  background-image: -moz-linear-gradient(top center, #8C3A92,#521257);
  background-image: -webkit-linear-gradient(top, #8C3A92,#521257);
  border: 1px solid #120613;
  border-radius: 2px;
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  padding: 6px 26px;
  margin-left: 5px;
  text-transform: none;
  letter-spacing: 0px;
  position: relative;
  top: 6px;
}
#header > .two .search BUTTON IMG
{
  height: 14px;
}
#content, .stay-on-target
{
  width:990px;
  margin:0 auto;
}
#content
{
  margin-top: 96px; 
  margin-bottom: 50px;
}

.stay-on-target {
}

#header .filterbar, #header .advancedbar
{
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/scaletake2b.png");
  box-shadow: 3px 2px 8px rgba(0,0,0,.4);
  position: relative;
  z-index: 600;
}

#header .advancedbar {
  color:white;
  display:none;
  font-size: 13px;
  background: transparent;
  width: 987px;
  margin: 0 auto;
  background: white;
  border: 3px solid #381B39;
  border-top: none;
  border-left: none;
  overflow: hidden;
  height: 256px;
}

#header .advancedbar .col {
  width: 276px;
  float:left;
}

#header .advancedbar .block {
  color: #342B34;
  overflow: hidden;
  padding: 0;
}

#header .advancedbar .block h3 {
  font-family: PTSansNarrowBold;
}

#header .advancedbar .list-mods {
  float:left;
  overflow: hidden;
  padding: 8px 12px 0;
}


#header .advancedbar .col.one {
  width: 205px;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/scaletake2b.png");
  color: white;
  overflow: hidden;
  font-size: 13px;
}

#header .advancedbar .col.two {
  width: 294px;
}

#header .advancedbar .col.three {
    margin-left: 15px;

}

#header .advancedbar .col.four {
  width: 163px;
  margin-left: 12px;
}


.channels .lists {
  color: white;
  overflow:auto;
  height: 208px;
  font-size: 14px;
}

.channels .lists li, .sort .sorts li {
  padding: 4px 2px 0px 13px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255,255,255,.3);
  font-family: PTSansNarrow;
  font-size: 15px;
  white-space: nowrap;
}

.channels .lists li.title {
  padding-left: 7px;
  font-size: 19px;
  font-family: PTSansNarrowBold;
}

.sort .sorts li.title {
  padding-left: 7px;
  font-size: 19px;
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size:14px;
  padding: 4px 2px 4px 6px;
}

.channels .lists li.no-select, .sort .sorts li.no-select {
  cursor:default;
}

.channels .lists li.selected {
  background:rgba(255,255,255,.3);
}

.sort .sorts li.selected {
  background: #D9C1D9;
}



.channels .actions {
    padding: 0 3px;
  
}

.channels .actions span {
  cursor:pointer;
  font-family: PTSansNarrowBold;
  font-size: 18px;
  color: #342B34;
  padding: 1px 5px 0px;
  background: -webkit-linear-gradient(top, white 0%, #EBDCEB 100%);
  border-radius: 2px;
  display: block;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  margin-top: 3px;
}

.channels .actions .new {
  } 
.channels .actions .save {
  }
.channels .actions .rename {
    width: 49px;
  }
.channels .actions .delete {
    width: 42px;
  }

.tags-display {
  font-size: 14px;
  overflow: hidden;
  font-family: PTSansNarrow;
  border: 1px solid #9D689D;
  margin-bottom:2px;
  padding: 2px 4px;
  height: 20px;
  border-radius: 2px;
}

.tags-display .tag {
  display:inline-block;
  margin-right: 7px;
  border-bottom: 1px dotted black;
  line-height: 14px;
  cursor: pointer;
}

.tags-display .tag.excluded:before {
  content:'not';
  font-variant: small-caps;
  margin-right: 3px;
  font-size: 16px;
  font-family: PTSansNarrow;
}

.tags-display .tag .remove {
  margin-left: 3px;
  font-size: 12px;
}

.tags-menu {
  font-size: 16px;
  overflow:auto;
  height: 190px;
  font-family: PTSansNarrowBold;
}

.tags-menu > li {
  padding: 0;
  border-top: none;
  border-left: none;
  margin: 0 2px 2px 0;
  border: 1px solid #D0BDD0;
  border-radius: 1px;
}


.tags-menu li {
  overflow:hidden;
  font-family: PTSansNarrowBold;
}

.tags-menu li .no-results .name {
  font-family: PTSansNarrow;
  font-style: italic;
  color:#807480;
}

.tags-menu li .no-results .toggler {
  color: #AC92AC;
}

.tags-menu li .tag-header.no-results {
  background-image: -webkit-linear-gradient(top, white 0%, #E3E3E3 100%);
}

.tags-menu li .tag-header {
  overflow:hidden;
  padding-left: 10px;
  background-image: -webkit-linear-gradient(top, white 0%, #EBDCEB 100%);
  height: 25px;
}

.tags-menu li .toggler, .tags-menu li .no-toggler { 
  width:9px;
  display:inline-block;
  float:left;
  margin-right:10px;
}

.tags-menu li .toggler {
  font-size: 12px;
  cursor: pointer;
  position: relative;
  top: 3px;
  color: #9D689D;
}

.tags-menu li .name {
  float:left;
  position: relative;
  top: 2px;
  cursor: pointer;
  display: inline-block;
}

.child-tags-menu li .name {
  font-family: PTSansNarrow;
  font-size: 15px;
  cursor: auto;
}

.tags-menu li .include, .tags-menu li .exclude {
  float:right;
  font-weight:bold;
  cursor: pointer;
  margin-right: 3px;
  display: block;
  font-size: 13px;
  position: relative;
  top: 2px;
  border: 1px solid #027000;
  padding: 0 2px;
  border-radius: 2px;
  background: white;
  color: #027000;
  box-shadow: 1px 1px 1px rgba(0,0,0,.2);
}

.tags-menu li .include.selected, .tags-menu li .exclude.selected {
  background: -webkit-linear-gradient(top, #65BF63 0%, #03A200 100%);
  color:white;
  border-color: #027000;
  text-shadow: none;
}

.tags-menu li .exclude.selected {
  background: -webkit-linear-gradient(top, #BF6363 0%, #A20000 100%);
  border-color: #700000;
}

.tags-menu li .exclude {
  padding: 0 6px 0 10px;
  border-color: #700000;
  color: #700000;
}

.child-tags-menu {
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/assets/scaletake2b.png");
  display:none;
  background: white;
  border-top: 1px solid #D0BDD0;
}

.child-tags-menu li {
  border-bottom: 1px solid #D0BDD0;
  padding-left: 9px;
  height: 25px;
}

#header .filterbar .inner
{
  padding: 10px 10px 10px 0;
  height: 100%;
  /*[empty]display:;*/
;
  display: none;
}
#header .filterbar .inner H3
{
  color: #3D0E3F;
  font-weight: bold;
  letter-spacing: -1px;
  text-transform: uppercase;
  visibility: hidden;
  height: 0px;
  margin-bottom: 9px;
}
#header .filterbar .inner .filter H5
{
  letter-spacing: -1px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  margin-right: 1px;
}
#header .filterbar .inner .filter
{
  font-size: 14px;
}

.filterbar .filter SPAN
{
  color: #13133A;
}
#header .filterbar .inner .filter.price SPAN, #header .filterbar .inner .filter.day SPAN, #header .filterbar .inner .filter.date SPAN
{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#header .filterbar .inner .filter.day SPAN.selected, #header .filterbar .inner .filter.price SPAN.selected, #header .filterbar .inner .filter.date SPAN.selected 
{
  background-color: rgba(19, 19, 58, .25);
  color: #13133A;
}
#header .filterbar .inner .filter INPUT
{
  margin: 3px 0 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 4px;
  border-radius: 1px;
  border: none;
  color: #13133A;
}

#header .filterbar .inner .filter.day
{
  clear:both;
  padding-top: 10px;
}

#header .filter.date 
{
}


#header .filter.date .filters
{
    overflow: hidden;
}
#header .filter.date .filters SPAN
{
  font-size: 12px;
  padding: 4px 9px;
  cursor: pointer;
  display:block;
  float: left;
}
#header .filter.date .filters SPAN.selected {
    background: #D9C1D9;
}
#header .filter.date .custom-select
{
  color: white;
  text-align:right;
  display:none;
  clear: both;
}
#header .filter.date .custom-select.selected
{
  display:block;
}
#header .filter.date .custom-select INPUT 
{
  display:block;
  margin-bottom:5px;
  width: 154px;
  text-align: right;
  padding-left: 6px;
  padding-right: 6px;
  background-color: white;
  color:#13133A;
}
#header .time-range, #header .price-range, #header .date-range
{
    margin: 9px 8px 8px 5px;
}
#header .time-display, #header .price-display, #header .date-display
{
    color: #342B34;
    margin-top: 7px;
    text-align: right;
    margin-right: 3px;
    font-weight: bold;
    font-style: italic;
    text-transform: lowercase;
}

#header .filterbar .inner .filter.tags
{
  margin-right: 10px;
  position: absolute;
  background-color: #B9B9C9;
  color: white;
  font-weight: bold;
  padding: 0 5px 5px 5px;
  height: 113px;
  z-index: 3;
  left: 268px;
  float:left;
}
#header .filterbar .inner .filter.tags.expanded
{
  height:216px;
}

#header .filterbar .inner .filter LABEL
{
  margin: 0 3px;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: #13133A;
  font-size: 24px;
  display: inline-block;
  position: relative;
  font-family: PTSansNarrowBold;
  font-weight: normal;
  height: 24px;
}
#header .filterbar .inner .filter.tags INPUT
{
  margin:0;
}
#header .filterbar .inner .filter .tag-library
{
  margin: 7px 0 3px;
  width: 390px;
  height: 56px;
  overflow:hidden;
  background-color:transparent;
}
#header .filterbar .inner .filter.expanded .tag-library
{
  height:160px;
}

#header .filterbar .inner .filter .tag-library DIV
{
  float:left;
  font-weight:normal;
  padding: 0 5px;
  cursor:pointer;
  background-color:#4C4C84;
  color:white;
  margin-right:3px;
  margin-bottom:3px;
  border-radius:2px;
  font-variant:small-caps;
  font-size: 14px;
}
#header .filterbar .inner .filter .tag-library DIV:after
{
  content: "+";
  font-weight: bold;
  position: relative;
  top: 0px;
  left: 2px;
}
#header .filterbar .inner .filter .more-tags
{
  font-weight:normal;
  padding:1px 5px;
  cursor:pointer;
  background-color: #5858C9;
  color:white;
  border-radius: 2px 0 0 0;
  font-variant:small-caps;
  text-align: center;
  width: 82px;
  position: absolute;
  bottom: 0;
  right: 0;
}
#header .filterbar .inner .filter SPAN
{
  display: inline-block;
  text-align: center;
  margin-right: 1px;
  border-radius: 1px;
}
#header .filterbar .inner .col-2 {
  float:left;
  margin-left: 419px;
}
#header .filterbar .inner .col-2 .filter
{
  float:none;
}

#header .filterbar .inner .col-3 {
  float:left;
}
#header .filterbar .inner .filter.title {
  margin-bottom:10px;
}
#header .filterbar .inner .filter.title LABEL {
  font-size:28px;
  height: 16px;
  line-height: 27px;
  margin-left: 8px;
}
#header .filterbar .inner .filter.channels {
  width: 248px;
  height: 79px;
  background: rgba(19, 19, 58, .25);
  padding:5px;
}
#header .filterbar .inner .filter .channels-select {
  display:block;
  width:238px;
  height: 28px;
  margin-top: 3px;
  margin-left: 3px;
}
#header .filterbar .inner .filter.day SPAN
{
  font-size: 14px;
  padding: 7px 9px;
  cursor:pointer;
}

#header .filterbar .inner .filter.price SPAN
{
  font-size: 14px;
  padding: 6px 17px;
  cursor: pointer;
}

#header .filterbar .inner .filter.price
{
  overflow:hidden;
  width: 290px;
  padding-top: 10px;
}

#header .expandobar {
  margin:0 auto;
  width:990px;
  clear: both;
}

#header .expandobar .expandobar-inner {
  width: 289px;
  padding: 3px 11px 5px;
  font-size: 14px;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/scaletake2b.png");
  color: #342B34;
  box-shadow: 3px 5px 8px rgba(0,0,0,.4);
  border-top: none;
  font-weight: bold;
  font-style: italic;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
  color: white;
  float: right;
  clear: both;
  text-align: center;
  background-position: 8px -12px;
}

#header .expandobar .expandobar-inner span {
  display:inline-block;
  margin: 0 7px;
  position: relative;
  top: 1px;
}

#content #map-wrapper {
  position:fixed;
  top:0;
  width: 990px;
  margin-top: 96px;
}

#content #map {
  width:300px;
  height:500px;
  float: right;
  border: 5px solid rgba(19, 19, 58, .25);
  margin-top:25px;
}





#content .main
{
  margin-right: 310px;
  position: relative;
}
#content .main .inner
{
  padding: 0;
  position: relative;
}
#header .header
{
  /*height: 60px;
  overflow: hidden;*/
  font-size: 20px;
  letter-spacing: -0.02em;
  /*background-color: #5A5A76;*/
  color: #CDBECE;
  font-family: PTSansNarrow;
  padding: 0;
  z-index: 600;
} 

#header .header .filter-toggle.channels {
  font-family: PTSansNarrowBold;
  color: white;
  margin-right: 23px;
  margin-left: 0;
}

#header .header .filter-toggle.channels .filter-text {
  background: white;
  padding: 4px 4px 4px 6px;
  margin: 6px 0;
}

#header .header .filter-toggle.channels.selected .filter-text {
  background: white;
  padding-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}   

#header .header .filter-toggle.channels .text {
    color: #342B34;
    text-shadow: none;
    border-bottom: none;
}

#header .header .filter-toggle.channels.selected {
    margin-right: 14px;
    margin-left: -3px;
}

#header .header .filter-toggle.channels .channels-arrow {
  width:0;
  height:0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid white;
  display: inline-block;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 7px;
  right: -15px;
}

#header .header .filter-toggle.channels.selected .channels-arrow {
    border-left: 15px solid transparent;

}

#header .header .filter-toggle {
  display:inline-block;
  position:relative;
  z-index: 600;
  margin-left: -8px;
}

#header .header .filter-toggle.selected {
  background: transparent;
  color: #342B34;
  border: 3px solid rgba(145, 58, 148, .5);
  margin-top: -3px;
  border-bottom: none;
  margin-left: -11px;
  margin-right: -3px;
}

#header .header .filter-toggle .filter-text {
  display:inline-block;
  height: 23px;
  padding: 10px 8px;
  cursor: pointer;
  z-index: 700;
  
}

#header .header .filter-toggle.selected .filter-text {
  background: white;
}

#header .header .filter-toggle .text {
  font-family: PTSansNarrowBold;
  border-bottom: 1px dotted white;
  text-shadow: #202040 -1px -1px 0;
  color: white;
  height: 22px;
  display: inline-block;
  margin-left: 2px;
}

#header .header .filter-toggle .text-inner {
  text-overflow: ellipsis;
  overflow:hidden;
  white-space: nowrap;
  display: inline-block;
}

#header .header .filter-toggle .text-inner em {
  font-style:normal;
  font-variant: small-caps;
  font-size: 23px;
  line-height: 20px;
  display: inline-block;
}

#header .header .filter-toggle.tags .text-inner {
  max-width:200px;
}

#header .header .filter-toggle.date .text-inner {
  max-width: 140px;
}

#header .header .filter-toggle.selected .text {
    color: #342B34;
    text-shadow: none;
    border-bottom: none;
}

#header .header .filter-dropdown {
  position:absolute;
  top: 43px;
  left: -3px;
  z-index: 500;
  display:none;
  box-shadow: 3px 5px 8px rgba(0,0,0,.4);
  overflow:hidden;
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: 13px;
  border: 3px solid rgba(145, 58, 148, .5);
  border-top: none;
}

#header .header .tags .filter-inner {
  width:250px;
  padding: 3px;
}

#header .header .tags .filter-inner .tags-menu {
  height:auto;
}

#header .header .tags .filter-inner .tags-menu li {
  margin-right:0;
}

#header .header .date .filter-inner {
  width: 272px;
  padding: 5px 7px;
}

#header .header .price .filter-inner {
  width: 220px;
  padding: 5px 7px;
}

#header .header .sort .filter-inner {
  width: 176px;
}

#header .header .filter-dropdown .filter-inner {
  color: #342B34;
  overflow: hidden;
  background: white;
}

#header .header .channels .lists, #header .header .sort .sorts {
  color: #342B34;
  height: auto;
  overflow: hidden;
  margin: 0px;
}

#header .header .channels .lists li, #header .header .sort .sorts li {
    border-bottom: 1px solid #C4A6C5;
    padding-right: 10px;
    min-width: 157px;
    font-family: PTSansNarrowBold;
    font-size:19px;
}

#header .header .channels .lists li:last-child, #header .header .sort .sorts li:last-child {
  border-bottom:none;
}

#header .header .channels .lists li.selected, #header .header .sort .sorts li.selected {
  background: #D9C1D9;
}

#header .header .info
{
  float:left;
}
#header .header .sort
{
}
#header .header .sort SPAN
{
  cursor:pointer;

}
#header .header .sort SPAN.selected
{
  text-decoration:none;
  cursor:default;
  color: #C5C5D9;
}
#header .header .location
{
  color: #EAEAF6;
}

#content .main .inner .events
{
}

#content .main .inner .events LI
{  background-color: white; 
    padding: 0;  overflow: hidden;
    position: relative;
  box-shadow: 3px 2px 8px rgba(0,0,0,.4);  margin: 0 10px 10px 0;}

.mode .events {
  margin-top: 1px;
}

.mode .events .datetime-wrapper {
  position:relative;
  margin: 10px -10px 0;
  background: #EEF;
}

.mode .events li:first-child .datetime-wrapper {
  margin-top:0;
}

.mode .events .datetime {
  display: inline-block;
  background-color: #CCF;
  position: relative;
  padding: 4px 26px 3px 10px;
  font-size: 16px;
  width: 161px;
  font-family: PTSansNarrowBold;
  margin-top: 10p;
}

.mode .events .datetime-flag {
  width: 0;
  height: 0;
  display: inline-block;
  border-bottom: 14px solid transparent;
  border-top: 14px solid transparent;
  border-right: 14px solid #EEF;
  font-size: 0;
  line-height: 0;
  z-index: 2000;
  position: absolute;
  top: -1px;
  left: 183px;
}

.mode .events .details {
  margin-top:5px;
  font-size: 13px;
  margin-left: 10px;
  margin-bottom: 3px;
}

.mode .events .details .event-name {
  font-size: 15px;
}

.mode .events .description {
  font-size: 11px;
  margin-left:10px;
  overflow:hidden;
  margin-bottom: 15px;
  max-height: 53px;
}

#content .events li {
  cursor:pointer;
}


#content .events .title {
  color: #2A2A7D;
  font-size: 17px;
  font-weight: bold;
  overflow: hidden;
}

#content .events .event-inner {
  background-color:white;
  overflow: hidden;
  padding: 5px 5px 5px 10px;
  color: #666;
}

#content .events .index {
  color: white;
  font-weight: bold;
  font-size: 20px;
  float: left;
  width: 32px;
  line-height: 87px;
  height: 100%;
  overflow: hidden;
  background: url("/assets/scaletake2c.png");
  text-align: center;
}

#content .events .price {
font-size: 12px;
color: #2E2EFE;
}

#content .events .datetime {
  color:#333;
  font-weight: bold;
  margin-right: 2px;
}

#content .events .title-inner {
    padding: 8px 14px 5px;
}

#content .events .tag {
  color: #38386D;
}

#content .events .tag:after {
  content: ", ";
}

#content .events .tag:last-child:after {
  content: none;
}

#content .events .venue-name {
  margin-left: 7px;
  font-size: 14px; font-weight: normal;
}

#content .events li.hover .index {
  background: url("/assets/scaletake2.png");
}

#content .events li.hover .title {
  color:#7A2A7D;
}

#content .events li.hover .price {
color: #B51DBB;
}

#content .events li.hover .tag {
  color:#7A2A7D;
}

.events .flag-wrapper {
  position:relative;
  margin: 0 0 6px 0;
  /*background: white;*/
  height: 39px;
  background: #eef;
  box-shadow: 0 2px 8px #AAA;
}

.events .flag-left, .events .flag-right {
  display: inline-block;
  background-color: #38386D;
  position: relative;
  padding: 10px;
  font-size: 16px;
 
  font-family: PTSansNarrowBold;
  height: 19px;
  position: absolute;
  top:0;
  color: white;
}

.events .flag-left {
  width: 31px;
  text-align: left;
  left:0;
}

.events .flag-right {
  width: 161px;
  text-align: right;
  right:0;
}

.events .flag-left-marker, .events .flag-right-marker {
  width: 0;
  height: 0;
  display: inline-block;
  border-bottom: 20px solid transparent;
  border-top: 20px solid transparent;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: -1px;
  z-index: 2;
}

.events .flag-left-marker {
  border-right: 19px solid #EEF;
  right: 0;
}

.events .flag-right-marker {
  border-left: 20px solid #EEF;
  left: 0;
}

.events .flag-no {
  margin-left: 66px;
  margin-right:200px;
  top: 8px;
  position: relative;
}

.events .details {
  font-size: 12px;
  margin: 1px 0;
  clear:both;
  overflow:hidden;
}

.events .description {
  font-size: 11px;
  overflow:hidden;
  height: 34px;
}


.event-name {
  font-weight:bold;
  cursor:pointer;
  font-size: 18px;
}

.venue-name {
  font-style:italic;
  cursor:pointer;
}

.act-name {
  font-weight:bold;
  cursor:pointer;
}

.embed-act-name {
  font-style:italic;
  margin-top:10px;
}

.event-name:hover, .venue-name:hover, .act-name:hover {
  text-decoration:underline;
}

#content .main .inner .events-seed
{
  display: none;
}

.events LI .one
{
  margin-left: 101px;
  margin-right: 26px;
}

.venue.mode LI .one {
  margin-left:70px;
  margin-right:0;
}
.venue.mode LI.recurrence .one {
  margin-left:130px;
}





.mode {
  display: none;
}
.close-btn {
    float:right;font-weight: bold;top: -2px;position: relative;right: 5px;cursor: pointer;
}
.mode .overlay {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  overflow:auto;
}
.mode .background {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  overflow:auto;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000;
}

.mode .window {
  opacity:1;
  background: #F3F3FA url(scaleside5.png) 2px 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 980px;
  margin: 60px auto;
  position:relative;
  z-index: 1000;
}
.mode .window .inner {
  padding: 8px 10px 10px;
}

.mode .window .title {
  background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0)), url("/assets/scaletake2b.png");
  background-image: -webkit-linear-gradient(top , rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0)), url("/assets/scaletake2b.png");
  border: 1px solid #422043;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  font-size: 27px;
  height: 23px;
  left: -14px;
  letter-spacing: -.02em;
  margin: 0 0 11px 0;
  overflow: hidden;
  padding: 10px 6px 16px 22px;
  position: relative;
  text-shadow: -1px -1px 0 #39153B;
  top: 10px;
  width: 980px;
  text-overflow: ellipsis;
  z-index: 2000;
  font-family: PTSansNarrowBold;
}
.mode .window .title .bookmark {
  margin-right:10px;
  cursor:pointer;
  width: 25px;
  display: inline-block;
}
.mode .window .title .add_bookmark {
}
.mode .window .title .remove_bookmark {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, .9);
}
.mode .window .title .add_bookmark:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, .9);
}
.mode .window .title .remove_bookmark:hover {
}
.mode .window h1 {
  display:inline-block;
  font-size:1em;
}
.mode .window h2 {
  font-size: 20px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  background-color: #ccccff;
  padding: 10px 10px 7px;
  margin-top: 10px;
  font-family: PTSansNarrowBold;
}

.mode .window .h1under {
  position: absolute; 
  border-bottom: 10px solid transparent; 
  border-top: 10px solid transparent; 
  top: 50px;
}

.mode .window .h1under.left {
  border-right: 15px solid rgb(0, 0, 0); 
  left: -15px; 
}

.mode .window .h1under.right {
  border-left: 15px solid rgb(0, 0, 0); 
  right: -15px;
}


.mode .window .sub-header {
  position: relative;
  margin-top: -11px;
  padding-bottom: 10px;
  overflow: hidden;
}

.mode .window .sub-header li{
  float:left;
  margin-right: 3px;
  background:#440044;
  color:white;
  padding: 3px 9px;
  font-size: 12px;
  font-weight: bold;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.25);
}

.mode .window .col-1, .mode .window .col-2 {
}

.mode .window .col-1 { float:left; width: 544px;}
.mode .window .col-2 { float:right; width: 404px;}

/*.mode .window .details {
  font-size: 13px; float: right; padding: 10px; width: 190px; height: 150px; background: none repeat scroll 0pt 0pt rgb(221, 221, 238);
}
*/
.mode .window .block {
    color: #333349;
    font-size: 14px;
    line-height: 1.5em;
    background: white;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
    border: 1px solid #CCCCFF;
    font-size: 13px;
}

.mode .window .description.block {
    margin-bottom:10px;
}

.mode .window .block-inner {
    padding:10px;
}

.mode .window .description ul {
    margin-left: 40px;
}

.mode .window .description ul li{
    list-style-type: disc;
}

.mode .window .description ol li{
    list-style-type: decimal;
}

.mode .window .time.one {
  font-size: 18px;
}

.mode .window .time.two {
  font-size: 16px;
}
/*
.mode .window .venue {
  font-size: 16px;
}*/

.mode .window .menu {
  clear:both; 
}

.mode .window .menu .tabs ul {
  overflow:hidden;
  padding-top:10px;
}

.mode .window .menu .tabs li {
  list-style:none;
  float:left;
  padding:5px 10px;
  border-radius:2px;
  margin-right:10px;
  cursor:pointer;
  margin-top: 10px;
}

.mode .window .menu .tabs li.selected {
  color:#FFFFFF;
  background:#996699;
}

.mode .window .menu > div {
  clear: both; padding: 6px 0 20px; display:none;
}

.mode .window .menu > div.selected {
  display:block;
}

.markerLabel {
  font-size:12px;
  font-family:Arial;
  color:#13133A;
  font-weight:bold;
  cursor:pointer;
  width:14px;
  text-align:center;
}


/* Error Messages */
.field_with_errors {
  display: inline;
}

.field_with_errors .message {
  color: #D00;
  padding-left: 5px;
  font-size: 12px;
}

#loading {
  display:none;
  height:66px;
  width:66px;
  position:absolute;
}

.marker-caching {
  position:fixed;
  left:-1000px;
  top:0;
}

#info-content {
  width: 880px;
  padding: 60px;
  margin: 52px auto 0;
  background: white;
  box-shadow: 3px 2px 8px rgba(0,0,0,.4);
  font-size: 14px;
}

#city-name {
  float: right;
  line-height: 1;
}

.clear {
  clear:both;
  visibility: hidden;
}

/* feedback tab */
.slide-out-div {
    padding: 20px;
    width: 250px;
    background: #ccc;
    border: 1px solid #29216d;
    display: none;
}

.mode form {
  display: inline-block;
}
