body, html {
  font-family:Arial,Helvetica,sans-serif;
  overflow:auto;
}

h1,h2,h3,h4,h5,h6 { margin:0; padding:0; }

input[type="text"], textarea {
  width:500px;
}

input[type="text"].picurl{
  width:338px;
}



textarea {
  height: 100px;
}

label {
  
} 

.main.event .field label, .main.settings .field label, .acts .main .field label {
  width:125px;
  margin-top: 3px;
  vertical-align: top;
  display:inline-block;
  text-align:right;
  margin-right:10px;
}

.field {
  margin-bottom:10px;
}

.ajaxLoader {
  display: inline;
}

.pictures.field {
  width: 160px;
  display:inline;
}


.pictures img {
  vertical-align:middle;
  padding: 3px 2px 3px 2px;
  border-bottom:solid 1px #c4c4c4;
}
.pictures .remove-pic {
  width: 9px;
  display:inline;
  vertical-align: top;

}

.main.event {
  margin-top: 20px;
  margin-bottom: 20px;
}

.main.settings {
  margin-top:20px;
  clear:left;
  float:left;
}

.main.event h4 {
  margin-bottom:20px;
}

input.price {
  width:100px;
}

.actions {
  clear:both;
}

.remove {
  float:right;
  margin-right:10px;
}

#map_canvas {
   width: 286px; height: 514px; float:left;margin: 22px 0 0 20px;
}

.main.event .occurrence, .main.event .recurrence {
  background-color: #DDD;
  margin-bottom: 10px;
  margin-left: 130px;
  overflow: hidden;
  padding: 10px;
  clear:both;
}

.main.event .recurrence {
  
}

.main.event .recurrence span {
  font-style:italic;
}

.main.event .occurrence label, .main.event .recurrence label {
  width:50px;
}

.occurrence .remove, .recurrence .remove {
  margin-right:0px;
}

.toggle-recurring {
  margin-bottom:10px;
}

select.interval {
  margin-bottom:10px;
}

.recur-parameter {
  display:inline-block;
  margin-bottom:10px;
}

.tags.field label {
  float:left;
}

.input-tags {
  /*position: relative;
  top: 2px;
  float: left;
  -moz-column-width: 150px;
  -moz-column-gap: 20px;
  -webkit-column-width: 150px;
  -webkit-column-gap: 20px;
  column-width: 150px;
  column-gap: 20px;*/
  margin-bottom: 20px;
  overflow:hidden;
  padding-left: 20px;
  font-family: 'PTSansNarrow', sans-serif;
}

.main .field .input-tags label {
  float:left;
  text-align:left;
  display:inline-block;
  width:auto;
  padding: 3px 5px;
  border-radius:5px;
  margin: 0;
  font-weight: bold;
  border: 1px solid #666666;
  color: #444;
}

.main .field .input-tags .children label {
  font-weight: normal;
  padding: 5px;
}

.main .field .input-tags input:checked + label {
  background-color:black;
  color:white;
  border-color:black;
}

.input-tags input {
  display:none;
}

.tag {
    display:inline-block;
}

.tag.parent {
    display:inline-block;
    margin-left: -20px;
}

.tag.parent:first-child {
  margin-left:0;
}

.children {
    font-size: small;
    display:inline;
}

.tag.child {
    display:inline-block;
}

.field .url {
  font-size:14px;
}

/* Error Messages */
.field_with_errors {
  display: inline;
}

.field_with_errors .message {
  color: #D00;
  padding-left: 5px;
  font-size: 12px;
}

.error {
    border: 1px solid red;
    color:red;
}

.main .field label.error[generated="true"] {
    display: none !important;
}

@-webkit-keyframes pulse {
  from {
    opacity: 0.0;
  }
  to {
    opacity: 1.0;
  }
}


.form-load {
  -webkit-animation: pulse .8s infinite alternate;
 background-color:black;
 color:white;
 display: inline-block;
 border-radius:5px;
 padding: 5px 7px;
}

.form-success {
 background-color:#00aa00;
 color:white;
 display: inline-block;
 border-radius:5px;
 padding: 5px 7px;
}

.form-failure {
 background-color:#cc0000;
 color:white;
 display: inline-block;
 border-radius:5px;
 padding: 5px 7px;
}

/* feedback tab */
.slide-out-div {
    padding: 20px;
    width: 250px;
    background: #ccc;
    border: 1px solid #29216d;
}      

.slide-out-div input[type=text], textarea{
    width: 240px;
}

input.datetime-input {
  width:200px;
}

input.time-input {
  width:100px;
}

.event-element { padding: 5px; background-color: #eee; margin: 10px 0; position: relative; width: 960px; overflow: hidden; }
.event-element .time { width: 140px; background: #DDD; position: absolute; top: 0; left: 0; padding: 5px; }
.event-element div.title { font-weight:bold; float: left; margin-left: 153px;}
.event-element .live-link {float:right; margin-right: 40px;}
.event-element .delete-raw-event {float:right; margin-right: 45px;}
.event-element .description { font-size:small; clear: both; padding: 6px 1px 0 1px; }
.event-element .toggler { position:absolute;top:5px;right:5px;text-decoration:none;background:black;color:white; padding: 3px 8px 1px;display:inline-block;font-weight:bold;border-radius:5px; }
.event-element .from {
  
    color: #666666;
    font-size: small;
    margin-left: 10px;
}

.event-element.compact { cursor:pointer; }

.act-inputs { display:none;}
.act-inits {display: none;}

html,body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#body {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.mode .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.75);
}

.mode .window {
  opacity: 1;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 900px;
  margin: 60px auto;
  position: relative;
  padding: 20px;
}

.mode {
  display:none;
}

.fb-image-submit{
  display:inline;
}

.remove-embed {
 background-color:black;
 color:white;
 display: inline-block;
 border-radius: 3px;
 padding: 1px 3px;
 cursor:pointer;

 font-size: 10px;
 position: relative;
 top: -3px;
}

.remove-pic {
 background-color:black;
 color:white;
 display: inline-block;
 border-radius: 3px;
 padding: 1px 3px;
 cursor:pointer;

 font-size: 10px;
 position: relative;
 top: -3px;
}

.close-mode {
  position:absolute;
  top: -10px;
  right:10px;
  cursor:pointer;
  font-size: 24px;
  padding: 0px 10px 0px 10px;
  -webkit-box-shadow: 0 3px 3px #3c3c40;
  -moz-box-shadow: 0 3px 3px #3c3c40;
  box-shadow: 0 3px 3px #3c3c40;
  background-color: #D2D2D2;
}

.main.settings .input-tags {
  width: 512px;
}


/* picture add partial */
.buffer139 {
  margin-left: 139px;
}

