<% content_for :header do %>
	<div class="titlebar">
		<div class="stay-on-target">
			<h5>Performer created successfully!</h5>
		</div>
	</div>
<% end %>

<% content_for :body do %>
<div id="info-content" class="padded">
	Thank you for submitting the artist. It should show up shortly.
</div>

<% end %>