<% content_for :header do %>
	<div class="titlebar">
		<div class="stay-on-target">
			Search Events/Add Event
		</div>
	</div>
<% end %>

<% content_for :code do %>
	<script type="text/javascript">
		$(function() {
			$('#create-event').click(function() {
				window.location = "/userSubmission/eventCreate1?new_title=" + $("#event-title").val();
			})

			$("#event-title").keyup(function() {
				var term = $(this).val();
				$.getJSON("/userSubmission/eventSearchTerm?term=" + term, function (data) {
		            $('#event-results').empty();
		            $("<li><h4 style='margin-top:10px;'>Existing Events:</h4></li>").appendTo('#event-results');
		            // console.log(data);
		            $.each(data, function() {
		            	$("<li style='margin-top:10px;overflow:hidden;'><a style='float:left;margin-right:10px;' href='/userSubmission/eventEdit1/" + this.event.id + "'>[edit]</a><div style='float:left'><h5><a href='/?event_id=" + this.id + "' target='_blank'>"+ this.event.title + "</a></h5><span>" + this.event.venue.name + "</span></div></li>").appendTo('#event-results');
		            });
		        });
			});

		});
	</script>
<% end %>

<% content_for :body do %>
	<div id="info-content" class="padded">
		Event Title <input type="text" id="event-title" style="width:300px;"/> <button id="create-event">Create New Event</button>
		<ul id="event-results">
		</ul>
	</div>
<% end %>