<% content_for :header do %>
  <%= stylesheet_link_tag  "details" %>
	<div class="titlebar">
		<div class="stay-on-target">
			<h5>Event created successfully!</h5>
		</div>
	</div>
<% end %>

<% content_for :body do %>
<div id="info-content" class="padded">
	Thanks for submitting the event! Your event is now live - you can preview your event here:
	<br><br>
	<a href="/events/austin/<%= @event.nextOccurrence.slug %>">http://www.halfpastnow.com/events/austin/<%= @event.nextOccurrence.slug %></a>
</div>

<% end %>