<% content_for :header do %>
	<div class="titlebar">
		<div class="stay-on-target">
			Search Events/Add Event
		</div>
	</div>
<% end %>

<% content_for :code do %>
	<script type="text/javascript">
		$(function() {
			$('#create-event').click(function() {
				window.location = "/userSubmission/eventCreate1?new_title=" + $("#event-title").val();
			})

			$("#event-title").keyup(function() {
				var term = $(this).val();
				$.getJSON("/userSubmission/eventSearchTerm?term=" + term, function (data) {
		            $('#event-results').empty();
		            $("<h4 style='margin-top:10px;'>Existing Events:</h4>").appendTo('#event-results');
		             console.log(data);
		             console.log(data.events);
		            $.each(data.events, function() {
		            	console.log(this);
		            	var topPicksButton;
		            	if (data.existingBookmarks.indexOf(this.event.id) === -1 ) {
		            		topPicksButton = "<a class='nice-button add-to-picks' href=''>Add to Picks</a>"
		            	} else {
		            		topPicksButton = "<a class='nice-button remove-from-picks' href=''>Remove</a>"

		            	}
		            	$("<li style='overflow:hidden'><div class='result-element-actions'><a href='/userSubmission/eventEdit1/" + this.event.id + "'>[edit]</a><% if user_signed_in? %><% if (current_user.role == 'admin') || (current_user.role == 'super_admin') %>" + topPicksButton + "<% end %><% end %></div><div class='result-element'><h5><a href='/?event_id=" + this.id + "' target='_blank' class='resultEventName'>"+ this.event.title + "</a></h5><span>" + this.event.venue.name + "</span></div></li>").appendTo('#event-results');
		            });
		        });
			});

		});
	</script>
<% end %>

<% content_for :body do %>
	<div id="info-content" class="padded">
		<h5>Event Title</h5> 
		Type in the event title, and if it doesn't already exist in our database, simply hit create!
		<br><br><input type="text" id="event-title" style="width:400px;"/> <button id="create-event" class="nice-button">Create New Event</button>
		<ul id="event-results">
		</ul>
	</div>
<% end %>