<% content_for :title do %>About Us<% end %>

<% content_for :content do %>
<div class="info">
	<p>We believe finding and attending events is the best way to get involved with your community and support local businesses. Our goal is for Austin locals to find cool activities in their neighborhood and to discover communities built around common interests.</p>
 
	<p><strong>half past now</strong>’s unique platform allows you to create and customize streams of events, such as live music. You can specify your preferences around interests, times, and cost and share great event ideas with friends.</p>
	 
	<p>Check out our beta and let us know what you think!</p>
	 
	<h3>Our Team</h3>
	 
	<p><strong>Marc Bhargava</strong>: Marc leads the business end of things. He became integrated in the tech community here in Austin by spending time discovering quirky tech meetups and events.</p>
		 
	<p><strong>Michael Wei</strong>: Michael leads the product development effort.  He has a nose for finding free stuff around Austin that was honed during his time as a college student at UT Austin.</p>

	<p><strong>Khoa Le</strong>: Khoa leads the mobile development effort. He loves finding sports events on the fly. Be on the lookout for the HPN mobile app!</p>
	
	<p><strong>Alexis Neal</strong>: Alexis Neal spearheads the marketing efforts and is the head honcho for data quality management. Everything about Austin inspires her and she is driven by the desire to make a difference in her community. .</p>
	  
	<p><strong>Rob Rumble</strong>: Rob leads the UI/UX design effort. He has an avid passion for live music, and has been working at various Austin startups since graduating from UT.</p>
	 
	<h3>Contact Us</h3>
	 
	<p>Do you want to edit an existing profile/event? Did we forget to mention your event? Please contact us at <a href="mailto:events@halfpastnow.com">events@halfpastnow.com</a>.</p>
	 
	<p>Interested in getting more involved with HPN or helping us spread the word about our product? Please email <a href="mailto:marc@halfpastnow.com">marc@halfpastnow.com</a>.</p>
</div>
<% end %>