<% content_for :title do %>About Us<% end %>

<% content_for :content do %>
<div class="info">
	 
	<h3>HALF PAST NOW SPECIFIC CONTEST RULES</h3>
	 
	<p><strong>1. Contest Introduction</strong><br>Half Past Now is giving one lucky winner a pair of wristbands to weekend 2 of ACL, as more specifically described below. NO PURCHASE NECESSARY. VOID WHERE PROHIBITED. SEE OFFICIAL GENERAL CONTEST RULES FOR OTHER TERMS AND CONDITIONS THAT APPLY.</p>
		 
	<p><strong>2. Contest Description</strong><br>Half Past Now will conduct a random drawing from the pool of all eligible participants who enter the contest prior to the Entry Deadline Date (defined below). The person selected will win the prize described in detail below.</p>

	<p><strong>3. Selecting a Winner</strong><br>Half Past Now will select the name of the winner by random drawing on October 8th from the pool of all eligible entries received by the Entry Deadline Date (as further defined below). Emmis Austin Radio will then contact the person selected by phone and notify the person that he/she wins the prize below. The odds of winning vary depending upon the number of eligible entries received.</p>
	
	<p><strong>4. Description of Prizes</strong><br>Prize: A pair of wristbands to the 2nd Weekend of the ACL Festival. Estimated
value of $550 (US) (e.g. retail value).</p>
	
	<p><strong>5. How to Enter</strong><br>Beginning September 18th 2013, eligible participants may register as follows:
By App. Download the free Half Past Now phone app. Open the app, click on the Mneu icon in the top left corner. Click on the Me icon, and either register by Facebook or email address.<br><br>
Half Past Now must receive all entries no later than 8AM CTS on October 8th 2013 (the “Entry Deadline Date”). Mail-in entries must be post-marked by the Entry Deadline Date.</p>
	
	<p><strong>6. Winner Notification</strong><br>On October 8th, Emmis Austin Radio will notify the winner by email using the email included in the contestant’s registration information on the date the winner is selected. Unless Half Past Now specifies a shorter time, the winner shall have two days from the date of notification to claim the prize by contacting Emmis Austin Radio and arranging a time to pick-up the prize at the station’s studio office. If notification is provided by email, the date of notification shall be the date on which actual communication of the award by a station representative to the winner occurs. Failure to claim the prize by the two-day deadline results in a forfeiture of the prize.</p>
	
	<p><strong>7. Eligibility</strong><br>Contest is open to all legal residents of the Austin metropolitan area, who are 13 years of age or older. Eligible minors must have parent or legal guardian sign a release on the minor’s behalf to be eligible to receive the prize, and Half Past Now reserves the right to refuse to award a prize to or on behalf of a minor. Employees of Half Past Now and Emmis Communications, its affiliates, subsidiaries, and successor companies, contest sponsors, participating advertisers, and immediate family members of anyone so situated are prohibited from participating in the contest. “Immediate family members” includes spouses, siblings, parents, children, grandparents and grandchildren, whether “in-laws,” or by current or past marriage, remarriage, adoption, co-habitation or other familial extension, and any other persons residing at the same household location, whether or not related.</p>
	
	<p>One entry per person. Only one person per household may win or qualify to win during any 30 day period of time.</p>
	 
</div>
<% end %>