<% content_for :content do %>
<h5>Halfpastnow's Terms of Service</h5>
<br><br>
The following terms and conditions govern all use of the Halfpastnow.com website (the "Website") and all content, services and products available at or through the website. The Website is offered subject to your acceptance without modification of all of the terms and conditions contained herein and all other operating rules, policies (including, without limitation, Halfpastnow's Privacy Policy) and procedures that may be published from time to time on this Site.
<br><br>
Please read this Agreement (the "Terms") carefully before accessing or using the Website. By accessing or using any part of the web site, you agree to become bound by the terms and conditions of this agreement. If you do not agree to all the terms and conditions of this agreement, then you may not access the Website or use any services. If these terms and conditions are considered an offer by Halfpastnow, acceptance is expressly limited to these terms. The Website is available only to individuals who are at least 13 years old.
<br><br>
User Content
<br><br>
"Content" means any information, text, graphics, or other materials uploaded, downloaded or appearing on the Service.
<br><br>
You shall own all Content that you contribute to the Website. However in using the Website, you grant us a worldwide, non-exclusive, royalty-free license (with the right to sublicense) to use, copy, reproduce, process, adapt, modify, publish, transmit, display and distribute such Content in any and all media or distribution methods (now known or later developed).
<br><br>
You are entirely responsible for the content of, and any harm resulting from, that Content. That is the case regardless of whether the Content in question constitutes text, graphics, an audio file, or computer software. By making Content available, you represent and warrant that:
<br><br>
The downloading, copying and use of the Content will not infringe the proprietary rights, including but not limited to the copyright, patent, trademark or trade secret rights, of any third party;<br>
if your employer has rights to intellectual property you create, you have either (i) received permission from your employer to post or make available the Content, including but not limited to any software, or (ii) secured from your employer a waiver as to all rights in or to the Content;<br>
you have fully complied with any third-party licenses relating to the Content, and have done all things necessary to successfully pass through to end users any required terms;<br>
the Content does not contain or install any viruses, worms, malware, Trojan horses or other harmful or destructive content;<br>
the Content is not spam, is not machine- or randomly-generated, and does not contain unethical or unwanted commercial content designed to drive traffic to third party sites or boost the search engine rankings of third party sites, or to further unlawful acts (such as phishing) or mislead recipients as to the source of the material (such as spoofing);<br>
the Content is not pornographic, does not contain threats or incite violence towards individuals or entities, and does not violate the privacy or publicity rights of any third party;<br>
your blog is not getting advertised via unwanted electronic messages such as spam links on newsgroups, email lists, other blogs and web sites, and similar unsolicited promotional methods; and<br>
your blog is not named in a manner that misleads your readers into thinking that you are another person or company. For example, your username or name is not the name of a person other than yourself or company other than your own.
<br><br>
Responsibility of Website Visitors
<br><br>
We have not reviewed, and cannot review, all of the material, including computer software, posted to the Website, and cannot therefore be responsible for that material's content, use or effects. By operating the Website, we do not represent or imply that it endorses the material there posted, or that it believes such material to be accurate, useful or non-harmful. You are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, Trojan horses, and other harmful or destructive content. The Website may contain content that is offensive, indecent, or otherwise objectionable, as well as content containing technical inaccuracies, typographical mistakes, and other errors. The Website may also contain material that violates the privacy or publicity rights, or infringes the intellectual property and other proprietary rights, of third parties, or the downloading, copying or use of which is subject to additional terms and conditions, stated or unstated. We disclaim any responsibility for any harm resulting from the use by visitors of the Website, or from any downloading by those visitors of content there posted.
<br><br>
Copyright Infringement and DMCA Policy.
<br><br>
We have adopted the following policy toward copyright infringement with respect to the Site in accordance with the Digital Millennium Copyright Act, a copy of which is located at http://www.loc.gov/copyright/legislation/dmca.pdf. Please sign the notice with an electronic signature and email it to support@halfpastnow.com
<br><br>
Changes.
<br><br>
We reserve the right, at its sole discretion, to modify or replace any part of this Agreement. It is your responsibility to check this Agreement periodically for changes. Your continued use of or access to the Website following the posting of any changes to this Agreement constitutes acceptance of those changes. We may also, in the future, offer new services and/or features through the Website (including, the release of new tools and resources). Such new features and/or services shall be subject to the terms and conditions of this Agreement.
<% end %>