<% content_for :title do %>Unsubcribe<% end %>

<% content_for :content do %>
<div class="info">
	<p>You can always re-subscribe to get your weekly email. We hope to see you again soon.</p>
 
</div>
<% end %>