<div id="footer">
	<div class="footer-bg">
		<a href="/info/about">About Us</a> | 
		<a href="http://blog.halfpastnow.com">Blog</a>
		<div class="cp">
		<a href="/info/privacy">Privacy</a> | 
		<a href="/info/terms">Terms</a> | 
	 	&#169; halfpastnow. chimera labs 2013
		</div>
		<div class="footer-app">
			<a target="_blank" href="https://itunes.apple.com/us/app/halfpastnow/id589530107">
	    			<img width="80px" src="/assets/apple_stoer.png" />
	    	</a>
		</div>
	</div>
</div>	