<span class="form-indicators">
	<img class="form-loading form-indicator" src="/assets/admin-load.gif" style="display:none;"/>
	<span class="form-success form-indicator icon-ok-sign" style="display:none;"></span>
	<span class="form-failure form-indicator icon-remove-sign" style="display:none;"></span>
</span>