<div class="grid-container">
  <div class="grid-100 mobile-grid-100 vertical-spacer"></div>
</div>
<footer>
  <div class="grid-container">
    <div class="grid-50 mobile-grid-50">
      <a href="/info/about">About Us</a> | <a href="http://blog.halfpastnow.com">Blog</a> | <a href="/info/privacy">Privacy</a> | <a href="/info/terms">Terms</a>
    </div>
    <div class="grid-50 mobile-grid-50 align-right">
      © halfpastnow. chimera labs 2013
    </div>
  </div>
</footer>