<<<<<<< HEAD
<% content_for :head do %>
	<%= stylesheet_link_tag "devise" %>
 	<%= stylesheet_link_tag "jcrop" %>
<% end %>
<%# content_for :header do %>
	<!--<div class="titlebar">-->
		<!--<div class="stay-on-target">-->
			<!--<span><%#= yield :title %></span>-->
		<!--</div>-->
	<!--</div>-->
<%# end %>
=======

>>>>>>> 059bcf5a2945f2bcb1c9b17be77b5f4f3d6f6acf
<% content_for :body do %>
  <%#= debug flash.to_yaml %>

<% end %>

<%= render :template => 'layouts/new_design' %>
