<% content_for :header do %>
	<div class="titlebar">
		<div class="stay-on-target">
			<span><%= yield :mode_title %></span>
		</div>
	</div>
<% end %>
<% content_for :body do %>
	<div id="content">
		<div class="mode" style="display:block;">
			<div class="window" style="z-index:1;padding:12px;margin-top:-52px;margin-left:-12px;">
				<%= yield :mode_body %>
			</div>
		</div>
	</div>
<% end %>
<%= render :template => 'layouts/application' %>