<% content_for :header do %>
	<div class="titlebar">
		<div class="stay-on-target">
			<span><%= yield :title %></span>
		</div>
	</div>
<% end %>
<% content_for :body do %>
	<div id="info-content" class="info">
		<%= yield :content %>
	</div>
<% end %>
<%= render :template => 'layouts/application' %>