<div class="h1under left"></div>
<div class="h1under right"></div>
<h1><span class="favorite">&#10026;</span><%= yield :title %><div class="close-btn">&#10799;</div></h1>
<div class="inner">
	<%= yield :body %>
</div>