<html>
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# hpn_sample_scrumps: http://ogp.me/ns/fb/fb_sample_scrumps#">
        <title>OG Sample Object - Pizza</title>

        
        <meta property="og:title" content="Pizza" />
        <meta property="og:image" content="https://fbcdn-photos-a.akamaihd.net/photos-ak-snc7/v85005/200/233936543368280/app_1_233936543368280_595563194.gif" />
        <meta property="og:determiner" content="a" />
        <meta property="fb:app_id" content="233936543368280" />
        <meta property="og:url" content="http://192.168.1.65:3000/mobile/og" />
        <meta property="og:type" content="fb_sample_scrumps:meal" />


        <link type="text/css" rel="stylesheet" href="/stylesheets/app.css" />
    </head>
    <body>
        <div id="wrapper">
            <h1>OG Sample Object - Pizza</h1>
            <table border="0" cellspacing="0">
                                            <tr>
              <th class="key">og:title</th>
              <td class="value">Pizza</td>
              </tr>
                                                            <tr>
              <th class="key">og:image</th>
              <td class="value">https://fbcdn-photos-a.akamaihd.net/photos-ak-snc7/v85005/200/233936543368280/app_1_233936543368280_595563194.gif</td>
              </tr>
                                                            <tr>
              <th class="key">og:determiner</th>
              <td class="value">a</td>
              </tr>
                                                            <tr>
              <th class="key">fb:app_id</th>
              <td class="value">233936543368280</td>
              </tr>
                                                            <tr>
              <th class="key">og:url</th>
              <td class="value">http://192.168.1.65:3000/mobile/og</td>
              </tr>
                                                            <tr>
              <th class="key">og:type</th>
              <td class="value">fb_sample_scrumps:meal</td>
              </tr>
                                          </table>
        </div>
    </body>
</html>