<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="user-scalable=no, width=device-width, minimum-scale=1, maximum-scale=1">
  <title>Unofficial ACL</title>
  <%= stylesheet_link_tag    "acl/grid.css" %>
  <%= stylesheet_link_tag    "acl/bundle.css" %>
  <%= stylesheet_link_tag    "acl/simpletextrotator.css" %>
  <%#= javascript_include_tag "application" %>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>


    <link rel="shortcut icon" href="/assets/acl/favicon.ico" >
    <link rel="icon" sizes="512x512" href="/assets/acl/apple-touch-icon-512x512.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/acl/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/acl/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/acl/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" href="/assets/acl/apple-touch-icon.png">

  <script src="/assets/acl/vendor/jquery-ui-1.8.18.custom.min.js" type="text/javascript"></script>
  <script src="/assets/acl/SCF.ui.js" type="text/javascript"></script>
  <script src="/assets/acl/vendor/chosen.jquery.js" type="text/javascript"></script>
  <script src="/assets/acl/vendor/jquery.placeholder.js" type="text/javascript"></script>
  <script src="/assets/acl/jquery.sticky.js" type="text/javascript"></script>
  <script src="/assets/acl/vendor/jquery.simple-text-rotator.min.js" type="text/javascript"></script>

  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA1Qi_Q7Uio7pOZKdKwiiIY4QVVIyv_yes&sensor=false">
  </script>
  <script src="/assets/acl/gm.js" type="text/javascript"></script>
</head>
<body>
<div class="container">
  <div class="top-container">
    <div class="top row">
      <div class="small-6 large-3 columns">
        <div class="logo-container"><div class="logo"><a href="/"><img src="/assets/acl/layout/logo-glow.png"></a> </div></div>
      </div>
      <div class="small-6 large-9 columns">
        <div class="tagline">
          The best unofficial ACL events and venues around Austin!
        </div>
      </div>
    </div>
    <div class="austin"></div>
  </div>



  <%= yield %>


  <div class="footer row">
    <div class="small-6 small-centered columns by-center">
      <div id="loaderImage" class="mbl hide"></div>
      <div id="footer_text" class="hide">loading more content</div>
    </div>
    <div class="small-6 columns by-left">
      &copy; 2013 UnofficialACL.com - All Rights Reserved
    </div>
<!--     <div class="small-6 columns by-right">
      Front End by <a target="_blank" href="http://logangattis.com">Logan Gatis Designs</a>
    </div> -->
  </div>

      <div id="social">
        <a href="#"><i class="icon-facebook-sign"></i></a>
        <a href="#"><i class="icon-twitter-sign"></i></a>
        <a href="#"><i class="icon-google-plus-sign"></i></a>
        <a href="#"><i class="icon-pinterest-sign"></i></a>
      </div>


</div>



<!-- Live Reload 

<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

 -->

<script src="/assets/acl/script.js" type="text/javascript"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44390412-1', 'unofficialacl.com');
  ga('send', 'pageview');

</script>

</body>
</html>