<% content_for :body do %>
	<style type="text/css">#body { background-color: white; }</style>
	<div id="info-content">
		<%= yield %>
	</div>
<% end %>
<%= render :template => 'layouts/application' %>