<script>

  $(function() {

      $('#tableContainer').on('click', 'a.act-delete',function() {
        if(confirm("Are you sure you want to delete " + $('.act-name[act-id=' + $(this).attr("act-id") + ']').html() + "?")) {
          $.getJSON("/acts/destroy/" + $(this).attr("act-id"), function(data) {
            $('.act-name[act-id=' + data.act_id + "]").parents("tr").remove();
          });
        }
        return false;
      });

   $("#tableContainer").append('<div class="ajaxLoader"><br><br><br><img src="/assets/ajax-loader.gif"></div>');
    $.get('/acts/actsTable', function(data) {
      var tableData = "<table id='itemsTable'><thead><tr><th></th><th>Name</th><th>Upcoming Events</th><th>%</th><th>Delete</th></tr></thead><tbody>"
      for (var i=0;i<data.length;i++) {
        tableData += "<tr><td></td><td><a href='/userSubmission/actEdit/" + data[i].id + "' class='act-name' act-id=" + data[i].id + " target='_blank'>"+ data[i].name +"</a></td>";
        tableData += "<td>"+data[i].num_events+"</td>"; 
        tableData += "<td><div style='padding:1px;overflow:hidden;width:30px;margin:0 auto;background-color:rgba(" + Math.round((1 - data[i].completion) * 192) + "," + Math.round(data[i].completion * 192) + ",0,1);''><div style='float:right;height:5px;width:" + Math.round(30 * (1 - data[i].completion)) + "px;background-color:white;''><div style='display:none;'>" + data[i].completion + "</div></div></div></td>";
        tableData += "<td><a href='#' class='act-delete' act-id=" + data[i].id + " act-name=" + data[i].name + ">[delete]</a></td></tr>";
      }
      tableData += "</tbody></table>"
      $('#tableContainer').html(tableData);
      var iTable =  $('#itemsTable').dataTable({ 
                              "fnDrawCallback": function ( oSettings ) {
                                /* Need to redo the counters if filtered or sorted */
                                if ( oSettings.bSorted || oSettings.bFiltered )
                                {
                                  for ( var i=0, iLen=oSettings.aiDisplay.length ; i<iLen ; i++ )
                                  {
                                    $('td:eq(0)', oSettings.aoData[ oSettings.aiDisplay[i] ].nTr ).html( i+1 );
                                  }
                                }
                              },
                              "bJQueryUI": true,
                              "bRetrieve" : true,
                              "sPaginationType": "full_numbers",
                              "iDisplayLength": 50,
                              // "bPaginate" : false,
                              "aoColumnDefs": [{ "sWidth": "60%", "aTargets": [ 1 ] },
                                               { "bSortable": false, "aTargets": [ 0 ] }
                                              ],
                              "aaSorting" : [[1, 'asc']]
                              });
      iTable.fnDraw();
      $('.ajaxLoader').detach();
    });
  });

</script>

<h2>Performers</h2>
<br><br>
<a href="/userSubmission/actCreate" class="new-act" target="_blank">Add New Performer</a>
<br>
<div id="tableContainer"></div>